.font-heading {
  font-family: "Cabin Condensed", sans-serif;
}

.site-header {
  top: 0;
}

.des-wrapper {
  max-width: 1500px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.site-header-wrapper {
  background: rgba(255, 255, 255, 0.85);
  padding: 6px 10px;

  position: relative;
  &:after {
    content: "";
    position: absolute;
    height: 2px;
    background: $red;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
  }
}

.site-header-main-wrapper {
  max-width: 1500px;
  margin: 0 auto;
}

.site-header-main-center {
  margin-left: 0;
}

.quote-ribbon {
  position: relative;
}
.kl-cta-ribbon {
  background-color: $red;
}
.ctabutton {
  margin-bottom: 0;
  position: relative;
  padding: 6px 10px 6px 30px;
  z-index: 2;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  &:hover {
    &:after {
      background: white;
    }
  }

  &:after {
    content: "";
    height: 100%;
    width: 22px;
    z-index: 1;
    background: #ed3237;
    position: absolute;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    right: -5px;
    top: 0;
    z-index: -1;
  }
}

.ctabutton strong {
  font-size: 17px;
  font-weight: 900;
  display: block;
  vertical-align: middle;
}
.phonecall-animation {
  position: absolute;
  width: 44px;
  height: 44px;

  left: -22px;
  top: 50%;
  margin-top: -22px;
}

.phonecall-icon {
  position: absolute;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 44px;
  border-radius: 50%;
  font-size: 20px;
  color: $red;
  border: 1px solid $red;
  background: white;
  z-index: 1;

  animation: phonecall-icon-anim 1s infinite ease-in-out;
}

@keyframes phonecall-icon-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
}

.phonecall-icon {
  position: relative;
}

.phonecall-ring {
  width: 100%;
  height: 100%;

  position: absolute;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid $red;
  opacity: 0.1;
  animation: phonecall-ring-anim 1.2s infinite ease-in-out;
  transition: all 0.5s;
  transform-origin: 50% 50%;
  opacity: 0.7;
}

@keyframes phonecall-ring-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.1;
  }
  30% {
    -webkit-transform: rotate(0) scale(1.3) skew(1deg);
    transform: rotate(0) scale(1.3) skew(1deg);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: rotate(0) scale(1.6) skew(1deg);
    transform: rotate(0) scale(1.6) skew(1deg);
    opacity: 0.1;
  }
}

.phonecall-ring-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: $red;
  border-radius: 100% !important;
  -webkit-animation: phonecall-ring-circle-anim 2.3s infinite ease-in-out;
  animation: phonecall-ring-circle-anim 2.3s infinite ease-in-out;
  transition: all 0.5s;
  transform-origin: 50% 50%;
}

@keyframes phonecall-ring-circle-anim {
  0% {
    -webkit-transform: rotate(0) scale(1.1) skew(1deg);
    transform: rotate(0) scale(1.1) skew(1deg);
    opacity: 0.2;
  }
  50% {
    -webkit-transform: rotate(0) scale(1.3) skew(1deg);
    transform: rotate(0) scale(1.3) skew(1deg);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: rotate(0) scale(1.1) skew(1deg);
    transform: rotate(0) scale(1.1) skew(1deg);
    opacity: 0.2;
  }
}

#slider {
  height: 100vh;
}

.iz-container {
  z-index: 3;
  height: 135px;
  position: absolute;
  width: 100%;
  // background: rgba(0, 0, 0, 0.4);
  bottom: 0;
  left: 0;
  // background: url("../images/slider-wave-bg.png") repeat-x center bottom;
  padding-top: 45px;
}

.iz {
  cursor: pointer;
  line-height: 1.3;
  font-size: $h5-font-size;
  color: rgba(255, 255, 255, 0.6);
  display: block;
  padding: 20px 0 20px 30px;
  // &:hover,
  &.active:not(.is-hover),
  &.is-show {
    color: white;
    .iz-overlay {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }

    .iz-arrow-white {
      opacity: 1;
      visibility: visible;
    }
  }

  position: relative;
}

.iz-overlay {
  transition: all 0.2s ease-in;
  transform: translateY(20px);
  position: absolute;
  width: 280px;
  height: 200px;
  bottom: 100%;
  left: 0;
  background: rgba(color("red"), 0.6);

  opacity: 0;
  visibility: hidden;
}

.iz-splash {
  width: 2px;
  height: 70%;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  left: 10px;
  top: 15%;
  background: transparent;
  position: absolute;
  transform: rotate(20deg);
}

.iz-arrow-white {
  fill: white;
  position: absolute;
  top: 18px;
  left: 0;
  width: 12px;
  opacity: 0;
  visibility: hidden;
}

.iz-overlay-label {
  position: absolute;
  font-size: 20px;
  color: white;
  padding: 0 10px;
  background: rgba(#ec2429, 0.8);
  right: -25px;
  top: 10px;
  height: 35px;
  line-height: 35px;
}

.iz-overlay-label-sha {
  right: -25px;
  top: 10px;
  position: absolute;
  height: 35px;
  width: 23px;
  background: #914145;
  top: 17px;
  z-index: 0;
  transform: skewY(-20deg);
}

.iz-svg-line {
  position: absolute;
  height: 100%;
  right: 100%;
  fill: rgba(#ec2429, 0.6);
  top: 0;
  svg {
    height: 201px;
  }
}

.iz-date-swiper{
  .iz-date-bg{
    position: relative;
    // background: #9f141c;
    &:hover{
      .iz-date-text{
        color: yellow;
        text-decoration: underline
      }
    }
  }
}

.iz-date {
  width: 170px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../images/iz-date-bg.png") no-repeat center center;
  background-size: cover;
  font-size: 21px;
  color: #f8ed78;
}

.iz-date-text {
  color: white;
  font-size: 18px;
  line-height: 1.3;
  max-width: 300px;
  margin-left: 10px;
}

.iz-house {
  z-index: 1;
  position: absolute;
  right: 20px;
  bottom: 0;
  width: 362px;
  height: 500px;
  background: url("../images/goldenland-house-search.png") no-repeat center
  center;
  background-size: cover;
  padding: 20px 40px 20px 30px;
}

.iz-house-title {
  font-size: 26px;
  color: $red;
  text-align: center;
  font-weight: bold;
  margin-top: 84px;
}

.iz-house-s {
  margin-top: 8px;
}

.iz-house-choose {
  position: absolute;
  width: 100%;
  padding: 0 40px 10px 30px;
  top: 206px;
  left: 0;
}

.iz-house-choose-2 {
  top: 249px;
}

.iz-house-choose-txt {
  color: white;
  font-size: 16px;
  width: 100px;
}

.iz-house-choose-select {
  height: 30px;
}

.iz-house-submit {
  position: absolute;
  top: 320px;
  left: 0;
  width: 100%;
  /* background: red; */
  padding: 0 40px 0 30px;
  a {
    display: block;
    border-radius: 5px;
    color: $red;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  }
}

.iz-mouse {
  bottom: 110px;
  position: absolute;
  left: 50%;
  background: rgba(255, 255, 255, 0.5);
  margin-left: -12px;
}

.hmm-wave {
  height: 180px;
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.hmm-wave-container {
  height: 135px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}

.project-f {
  padding: 40px 0;
  background: url("../images/des/projects-bg-fixed.jpg") #031523 no-repeat
  center bottom;
  background-size: cover;
  color: white;
}

.project-f-slider-mt {
  margin-top: -12%;
}

.project-f-head {
  text-align: center;
  background: url("../images/des/bg-pattern.jpg") #900c17;
  padding: 40px 0;
  overflow: hidden;
  background-size: cover;
  padding-bottom: 14%;
  span {
    display: inline-block;
    position: relative;
    padding: 0 40px;
    &:after {
      content: "";
      width: 1000%;
      height: 1px;
      background: rgba(white, 0.9);
      right: 120%;
      top: 50%;
      position: absolute;
    }

    &:before {
      content: "";
      width: 1000%;
      height: 1px;
      background: rgba(white, 0.9);
      left: 120%;
      top: 50%;
      position: absolute;
    }
  }
}

.embed-responsive {
  position: relative;
}

.embed-responsive-project::before {
  padding-top: percentage(445/640);
}

.project-f-embed {
}

.project-f-bg {
  background-size: cover;
  transform: scale(1.05);
  filter: blur(3px);
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  &:after {
    content: "";
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
  }
}

.project-f-inside {
  z-index: 2;
  width: 80%;
  height: 80%;
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
  left: 50%;
  top: 50%;

  // border: 4px solid rgba(#e5b14e, 0.95);

  border: 4px solid transparent;
  border-image: linear-gradient(
                  to bottom,
                  #e5b14e 0%,
                  #fbec6a 19%,
                  #e5b14e 37%,
                  #fbec6a 58%,
                  #e5b14e 74%,
                  #fbec6a 92%,
                  #be9138 100%
  );
  border-image-slice: 1;



  padding: 10px;
  will-change: padding;
  transition: all 0.15s ease-in;
}

.project-f-img {
  position: relative;
  display: block;
  position: relative;
  transition: all 0.15s ease-in;
  &:after {
    content: "";
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
  }
}

.project-f-name {
  position: absolute;
  left: 50%;
  text-align: center;
  top: 50%;
  background: rgba(0, 0, 0, 0.9);
  padding: 7px 18px 7px 18px;
  transform: skew(-20deg) translate3d(-50%, -50%, 0);
  margin-left: -10px;
  transition: all 0.2s ease-in;
  .content {
    transform: skew(20deg);
    line-height: 1.3;
  }
}

.project-f-price {
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.9);
  left: 50%;
  text-align: center;
  bottom: 25px;
  transform: translate3d(-50%, 0, 0);
  position: absolute;
  z-index: 2;
  transition: all 0.2s ease-in;
  white-space: nowrap;
}

.project-f-item {
  position: relative;
  &:hover {
    .project-f-inside {
      border: 4px solid rgba(#8d0914, 0.95);
      padding: 0;
    }
    .project-f-inside {
    }

    .project-f-name {
      top: -30px;
      transform: skew(-20deg) translate3d(-50%, 0, 0);
      background-color: #cb2b27;
    }

    .project-f-price {
      background-color: #cb2b27;
      left: -15px;
      transform: translate3d(0, 0, 0);
    }
    .project-f-view {
      opacity: 1;
      visibility: visible;
    }

    .project-f-img {
      &:after {
        background: rgba(0, 0, 0, 0);
      }
    }
  }
}

.button-xem {
  @extend .project-f-view;
}

@keyframes bg-change {
  from {
    background: rgba(#cb2b27, 0.6);
  }
  50% {
    background: rgba(#cb2b27, 0.9);
  }
  to {
    background: rgba(#cb2b27, 0.6);
  }
}

.project-f-item {
  // padding: 5px;
}

.project-f-nav {
  z-index: 99;
  text-align: center;
  margin-top: 30px;
  padding-bottom: 30px;
  position: relative;
  &:before {
    content: "";
    width: 100%;
    width: 80%;
    height: 4px;
    background: rgba(#cb2b27, 0.8);
    position: absolute;
    bottom: 0;
    left: 10%;
  }
}

.project-f {
  background-attachment: fixed;
}

.project-f-btn {
  display: inline-block;
  font-size: 20px;
  padding: 0 20px;
  height: 53px;
  line-height: 53px;
  background: rgba(0, 0, 0, 0.8);

  cursor: pointer;
  // position: absolute;
  // bottom: 0;
  // left: 50%;
  // transform: translateX(-50%);
  // background: rgba(0,0,0,0.6);
  outline: none !important;
  &:hover {
    background: rgba(#cb2b27, 0.8);
    &:after {
      border-bottom-color: rgba(#cb2b27, 0.8);
      border-top-color: rgba(#cb2b27, 0.8);
    }
  }
  position: relative;
  &.swiper-button-disabled {
    opacity: 0.7;
  }
}

.project-f-next {
  margin-left: 17px;

  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    right: 100%;
    border-bottom: 53px solid rgba(0, 0, 0, 0.8);
    border-left: 25px solid transparent;
  }
}

.project-f-prev {
  margin-right: 17px;
  // margin-left: -20px;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 100%;
    border-top: 53px solid rgba(0, 0, 0, 0.8);
    border-right: 25px solid transparent;
  }
}

.embed-responsive-news::before {
  padding-top: percentage(30/40);
}

.embed-responsive-img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.embed-responsive {
  background: gray("200");
  overflow: hidden;
}
.news-f-gradient {
  padding: 4px;
  z-index: 1;
  position: relative;
  background: linear-gradient(
                  to bottom,
                  #e5b14e 0%,
                  #fbec6a 19%,
                  #e5b14e 37%,
                  #fbec6a 58%,
                  #e5b14e 74%,
                  #fbec6a 92%,
                  #be9138 100%
  );
  border: 4px solid white;
}

.news-f {
  padding: 50px 0;
}

.news-f-in {
  padding: 5px;
  background: white;
}

.news-f-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #9c1823;
  color: white;
  padding: 15px;
  transition: all 0.2s ease-in;
  &:after {
    content: "";
    left: 0;
    position: absolute;
    width: 100%;
    transition: all 0.2s ease-in;
    height: 20px;
    background: #9c1823;
    bottom: 0;
  }
}

.link-absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: transparent;
}

.news-f{
  .swiper-pagination.swiper-pagination-bullets{
    display: none;
  }
}

.zn-res-menu-logo{
  display: none;
}

.site-social-mobile{
  display: none;
}

.news-f-slide {
  position: relative;
  .embed-responsive-img {
    transform: scale(1);
    transform-origin: center center;
    transition: all 0.2s ease-in;
  }

  &:hover {
    .news-f-content {
      background: #6c181a;
      &:after {
        background: #6c181a;
      }
    }
    .embed-responsive-img {
      transform: scale(1.1);
    }
    .new-f-xem {
      opacity: 1;
      visibility: visible;
    }

    .news-f-date {

      background: url("../images/des/news-f-date-bg-hover.png") no-repeat;
      background-size: cover;
      &.second {
        background: url("../images/des/news-f-date-bg2-hover.png") no-repeat;
        background-size: cover;
      }
    }
  }
}

.news-f-date {
  position: absolute;
  padding: 5px 20px 0 0;
  text-align: right;
  color: white;
  left: 50%;
  transform: translateX(-50%);
  bottom: -15px;
  width: 157px;
  height: 60px;
  background: url("../images/des/news-f-date-bg.png") no-repeat;
  background-size: cover;
  transition: all 0.2s ease-in;
  z-index: 4;
  &.second {
    bottom: auto;
    top: 0;
    background: url("../images/des/news-f-date-bg2.png") no-repeat;
    width: 157px;
    height: 49px;
    background-size: cover;
    padding: 15px 25px 0 0;
  }
}

.project-f-view {
  transition: all 0.2s ease-in;

  opacity: 0;
  visibility: hidden;

  position: absolute;
  bottom: 10px;
  right: 10px;

  border-radius: 50%;

  margin-bottom: 10px;
  display: block;
  border-radius: 50%;
  padding: 3px;
  border: 1px solid rgba(white, 0.8);
  span {
    z-index: 1;
    position: relative;
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: rgba(#cb2b27, 0.8);
    color: white;
    display: flex;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: all 0.2s ease;
    // animation-name: bg-change;
    // animation-duration: 1s;
    // animation-iteration-count: infinite;
  }

  &:hover {
    border-color: rgba(color("red"), 0.8);
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #ed3237;
    border-radius: inherit;

    transition: opacity 0.3s, transform 0.3s;

    animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
    z-index: 0;
  }
}

.new-f-xem {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;

  transition: all 0.2s ease-in;
  opacity: 0;
  display: block;
  visibility: hidden;
  padding: 5px;

  border: 1px solid rgba(white, 0.8);

  span {
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: rgba(#680003, 0.8);
    color: white;
    display: flex;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: all 0.2s ease;
    z-index: 1;
    position: relative;
    // animation-name: bg-change2;
    // animation-duration: 1s;
    // animation-iteration-count: infinite;
  }

  &:hover {
    border-color: rgba(color("red"), 0.8);
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #ed3237;
    border-radius: inherit;

    transition: opacity 0.3s, transform 0.3s;

    animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
    z-index: 0;
  }
}

@keyframes pulse-animation {
  0% {
    opacity: 0.7;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    opacity: 0;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}

@keyframes bg-change2 {
  from {
    background: rgba(#680003, 0.6);
  }
  50% {
    background: rgba(#680003, 0.9);
  }
  to {
    background: rgba(#680003, 0.6);
  }
}

.news-f-container {
  position: relative;
  background: url("../images/des/news-bg-fixed.jpg") no-repeat center bottom;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    background: white;
    height: 15%;
    top: 0;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    background: white;
    height: 15%;
    bottom: 0;
  }

  .news-f-prev {
    position: absolute;
    left: 40px;
    top: 50%;
    margin-top: -25px;
    color: white;
  }

  .news-f-next {
    position: absolute;
    right: 40px;
    top: 50%;
    margin-top: -25px;
    color: white;
  }
}

.news-f-title {
  color: $red;
  position: relative;

  span {
    display: inline-block;
    position: relative;
    padding: 0 40px;
    &:after {
      content: "";
      width: 1000%;
      height: 1px;
      background: $red;
      right: 120%;
      top: 50%;
      position: absolute;
    }

    &:before {
      content: "";
      width: 1000%;
      height: 1px;
      background: $red;
      left: 120%;
      top: 50%;
      position: absolute;
    }
  }

  // span {
  //   display: inline-block;
  //   padding: 5px 20px;
  //   position: relative;
  //   z-index: 2;
  //   background: white;
  // }
  // &:after {
  //   position: absolute;
  //   width: 100%;
  //   height: 1px;
  //   background: $red;
  //   top: 50%;
  //   content: "";
  //   left: 0;
  //   z-index: 1;
  // }
}
