.lienhe-title {
  background-size: cover;
  padding: 130px 0 60px;
  color: white;
  background-repeat: no-repeat;
  background-color: gray("800");
  position: relative;
  &:after {
    content: "";
    height: 4px;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    background: rgb(190, 161, 106);
    background: linear-gradient(
      90deg,
      rgba(190, 161, 106, 1) 0%,
      rgba(255, 245, 183, 1) 22%,
      rgba(220, 189, 106, 1) 53%,
      rgba(255, 241, 140, 1) 76%,
      rgba(197, 167, 106, 1) 100%
    );
  }
}

.lienhe-title-name{
  span{
    border-bottom: 1px solid white;
    display: inline-block;
    padding: 5px 15px;
  }
}
.lienhe-subbua {
  padding: 50px 0;
  color: white;
  text-align: center;
  background: url("../images/des/bg-pattern.jpg") #900c17;
  background-size: cover;
}

.lienhe-subbua-head {
  span {
    display: inline-block;
    position: relative;
    padding: 0 40px;
    &:after {
      content: "";
      width: 1000%;
      height: 1px;
      background: rgba(white, 0.9);
      right: 120%;
      top: 50%;
      position: absolute;
    }

    &:before {
      content: "";
      width: 1000%;
      height: 1px;
      background: rgba(white, 0.9);
      left: 120%;
      top: 50%;
      position: absolute;
    }
  }
}

.lienhe-info {
  background-size: cover;
  padding: 70px 0 100px;
  color: white;
  background-repeat: no-repeat;
  background-color: gray("800");
  background-attachment: fixed;
}

.lienhe-info-logo{  
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #8f0b16;
}

.lienhe-info-box-content{
  position: relative;
  z-index: 1;
}

.lienhe-info-box{
  background: rgba(255,255,255,0.9);
  padding: 40px 40px ;
  color: #8f0b16;
  line-height: 1.4;
  position: relative;
  &:after{
    z-index: -1;
    content: "";
    width: 110%;
    height: 85%;
    position: absolute;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    left: 50%;
    top: 50%;
    border: 4px solid transparent;
    -o-border-image: linear-gradient(to bottom, #e5b14e 0%, #fbec6a 19%, #e5b14e 37%, #fbec6a 58%, #e5b14e 74%, #fbec6a 92%, #be9138 100%);
    border-image: -webkit-gradient(linear, left top, left bottom, from(#e5b14e), color-stop(19%, #fbec6a), color-stop(37%, #e5b14e), color-stop(58%, #fbec6a), color-stop(74%, #e5b14e), color-stop(92%, #fbec6a), to(#be9138));
    border-image: linear-gradient(to bottom, #e5b14e 0%, #fbec6a 19%, #e5b14e 37%, #fbec6a 58%, #e5b14e 74%, #fbec6a 92%, #be9138 100%);
    border-image-slice: 1;
  }
}

.lienhe-bor-right{
  border-right: 1px solid color("momo")
}

.lienhe-form-container{
  background-image: url("../images/tintuc/man-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  
}

.lienhe-map{
  // margin-top: -20px;
}

.lienhe-form{
  background: rgba(255,255,255,0.9);
  padding: 60px 40px 30px;
  color: #8f0b16;
  line-height: 1.4;
  position: relative;
  top: -40px;
}

.lienhe-form{
  .form-control{
    color: #8f0b16;
    &::placeholder{
      color: #8f0b16;
    }
  }
}


.form-material{
  border: 0;
  background: no-repeat bottom,50% calc(100% - 1px);
  background-size: 0 100%,100% 100%;
  border-radius: 0;
  box-shadow: none;
  padding-left: 0;
  padding-right: 0;
  transition: background 0s ease-out;
  // background-image: linear-gradient(0deg,#3f51b5 2px,rgba(63,81,181,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);

  background-image: linear-gradient(0deg, theme-color("danger") 2px,rgba(63,81,181,0) 0),linear-gradient(0deg,rgba(0,0,0,.1) 1px,transparent 0);
  &:focus{
    background-size: 100% 100%, 100% 100%;
    transition-duration: 0.3s;
  }
}

.form-group-material{
  margin-bottom: 1.7rem;
}