.project-wrapper {
  height: 100vh;
  min-height: 600px + $navHeight;

  position: relative;
  padding-top: $navHeight;
}
.project-container {
  position: absolute;
  width: 100%;
  height: calc(100% - #{$navHeight});
  top: $navHeight;
  left: 0;
  display: flex;
  flex-flow: row wrap;
  z-index: 5;
}

.project-slider {
  // position: absolute;
  background-image: url(../images/tintuc/man-bg.jpg);
  width: 100%;
  height: 100%;
  // height: calc(100% - #{$navHeight});
  // top: $navHeight;
  // left: 0;
  display: flex;
  flex-flow: row wrap;
  z-index: 4;
}

.project-slider-swiper {
  height: 100%;
}

.project-slider-container {
  width: 100%;

  position: absolute;

  top: $navHeight;
  left: 0;

  height: calc(100% - (#{$navHeight} + 37px));
  top: $navHeight;

  .project-f-btn {
    z-index: 7;
  }
  .project-f-prev {
    position: absolute;
    left: 20px;
    top: 50%;
    margin-top: -25px;
    color: white;
  }

  .project-f-next {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -25px;
    color: white;
  }
}

.project-s-btn{
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 14px;
}

.project-search-container {
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3D(-50%, -50%, 0);
  z-index: 7;
  background: rgba(#9e2228, 0.5);
  padding: 4px;
  border: 2px solid rgba(#e8d039, 0.6);

  .phonecall-ring, .phonecall-ring-circle{
    top: 0;
    left: 0;
  }

  .project-search{
    z-index: 3;
    position: relative;
  }

  
}
.project-search {
  background: #9e2228;
  border-radius: 50%;
  color: white;

  width: 90px;
  height: 90px;
  cursor: pointer;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  &:hover {
    background: lighten(#9e2228, 10%);
  }
}

.project-line {
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  width: 100%;
  z-index: 6;
  background: linear-gradient(
    to right,
    #684d39 0%,
    #d6c656 25%,
    #9d7939 52%,
    #c9b339 77%,
    #5e4d39 100%
  );
  margin-top: -2px;
  &.vertical {
    height: 100%;
    width: 4px;
    top: 0;
    margin-top: 0;
    left: 50%;
    margin-left: -2px;
    background: linear-gradient(
      to top,
      #684d39 0%,
      #d6c656 25%,
      #9d7939 52%,
      #c9b339 77%,
      #5e4d39 100%
    );
  }
}
.project-item {
  flex: 0 0 auto;
  min-width: 0;
  width: 50%;
  height: 50%;
  background: rgba(255, 0, 0, 0.4);
  background-size: cover;
  background-position: center center;
  position: relative;
  min-height: 300px;
  overflow: hidden;
 
}
.project-overlay {
  position: absolute;
  width: 65%;
  left: -15%;
  top: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transform: skew(-20deg);
  overflow: hidden;
  border-right: 1px solid rgba($red, 0.8);
  transition: all 0.3s ease-out;
}
.project-overlay {
  &.again {
    background-color: transparent;
    overflow: visible;
    border-right: none;
    .project-overlay-name {
      right: auto;
      left: 100%;
      white-space: nowrap;
      top: 65px;
      &:after {
        background: rgba(#82191c, 0.8);
      }
    }
  }
}
.project-overlay-name {
  position: absolute;
  padding: 5px 20px;
  color: white;
  z-index: 5;
  text-align: center;
  transform: skew(20deg);
  line-height: 1.2;
  right: 0;
  top: 30px;
  white-space: nowrap;
  .name {
    font-weight: bold;
    font-size: 22px !important;
  }
  .sub {
    font-size: 16px;
  }
  div {
    z-index: 2;
    position: relative;
  }
  &:after {
    content: "";
    z-index: 1;
    background: rgba(#cb2b27, 0.8);
    transform: skew(-20deg);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
.project-overlay-image {
  background-size: cover;
  background-position: center center;
  position: absolute;
  height: 100%;
  transform: skew(20deg);
  width: 120%;
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
  }
}
.project-item-right {
  .project-overlay {
    right: -15%;
    left: auto;
    transform: skew(20deg);
    border-left: 1px solid rgba($red, 0.8);
  }
  .project-overlay {
    &.again {
      border-left: none;
      .project-overlay-name {
        left: auto;
        right: 100%;
        top: 65px;
      }
    }
  }
  .project-overlay-name {
    transform: skew(-20deg);
    left: 0;
    right: auto;
    &:after {
      transform: skew(20deg);
    }
  }
  .project-overlay-image {
    transform: skew(-20deg);
    left: -20%;
  }
}
.project-item-left-bottom {
  .project-overlay {
    transform: skew(20deg);
  }
  .project-overlay-image {
    transform: skew(-20deg);
  }
  .project-overlay-name {
    top: auto;
    bottom: 30px;
    transform: skew(-20deg);
    &:after {
      transform: skew(20deg);
    }
  }
  .project-overlay.again .project-overlay-name {
    top: auto;
    bottom: 65px;
  }
}
.project-item-right-bottom {
  .project-overlay {
    transform: skew(-20deg);
  }
  .project-overlay-image {
    transform: skew(20deg);
  }
  .project-overlay-name {
    top: auto;
    bottom: 30px;
    transform: skew(20deg);
    &:after {
      transform: skew(-20deg);
    }
  }
  .project-overlay.again .project-overlay-name {
    top: auto;
    bottom: 65px;
  }
}
.project-hover {
  position: absolute;
  z-index: 9;
  width: 100%;
  overflow: hidden;
  // height: 100%;
  height: 0;
  // opacity: 0;
  visibility: hidden;
  background-size: cover;
  background-position: center center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.5s ease-out;
 
}
.project-hover-title {
  position: absolute;
}
.project-hover-content {
  
  position: absolute;
  width: 80%;
  // height: 100px;
  background: rgba(#82191c, 0.9);
  color: white;
  padding: 30px 20px 20px;
  bottom: 50px;
  left: 0;
  font-weight: normal;
  font-size: 14px;
  opacity: 0;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  transition-delay: 0.5s;
  transform: translateX(-100%);

  .project-overlay-name {
    position: absolute;
    top: -30px;
    margin-left: -50px;
    opacity: 0;
    left: 50%;
    bottom:auto;
    right: auto;
    transform: translateX(-50%) skew(0) !important;

    transition: all 0.4s ease-out;
    transition-delay: 1s;
  }
  .button-xem {
    position: absolute;
    opacity: 1;
    // visibility: visible;
    margin-bottom: 0;
    right: -20px;
    bottom: -20px;
  }
}


.project-item {

  &:hover {
    .project-hover {
      // height: 100%;
      height: 100%;
      opacity: 1;
      visibility: visible;
    }
    .button-xem {
      visibility: visible;
    }
    .project-hover-content {
      transform: translateX(0);
      opacity: 1;
      .project-overlay-name {
        margin-left: 0;
        opacity: 1;
      }
    }
  }
}

.project-p-h{
  // height: 500px;
  text-align: center;
}

.project-p-container{
  border-radius: 50%;
  padding: 5px;
  background: rgba(#9e2228, 0.5);
  padding: 10px;
  border: 2px solid rgba(#e8d039, 0.9);
  
  position: relative;
  display: inline-block;
}

.project-p{
  width: 500px;
  height: 500px;

  border-radius: 50%;
  background: #a0292e;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 20px 50px;
}

.project-p-modal{
  .modal-dialog{
    max-width: 600px;

  }
  .modal-content{
    background: transparent;
    border: none;
    box-shadow: none;
  }
}

.hero-footer.hero-footer-duan{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(#9c1823, 1);
  z-index: 10;
  .hero-footer-copyright{
    background: transparent;
  }
}