.raovat-search {
  max-width: 1180px;
  margin: 0 auto;
  margin-top: -30px;
}

.raovat-search-bg {
  padding: 15px 20px;
  .form-control,
  .btn {
    background: white;
    border: none;
    border-radius: 0;
  }
  .form-control {
    height: inherit;
  }

  position: relative;

  &:before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
    background: rgba(149, 30, 40, 0.9);
    transform: skew(-15deg);
    // z-index: -1;
  }
}
.project-search-raovat {
  display: none;
}

.raovat-search-2 {
  margin-left: 10px;
}

@include media-breakpoint-down(md) {
  .raovat-search {
    margin-top: 0;
  }
  .raovat-search-2 {
    margin-left: 0;
  }
  // .raovat-search-bg{
  //   width: 100%;
  //   flex: 0 0 100%;
  //   padding: 5px 10px;
  //   >.row{
  //     justify-content: center;
  //   }
  //   .form-control, .dropdown{
  //     margin-bottom: 5px;
  //   }
  // }

  .raovat-search-1 {
    display: none;
  }

  .project-search-raovat {
    display: block;
    .project-search-container {
      display: inline-block;
      position: relative;
      top: 0;
      transform: translateX(-50%);
      margin-top: 30px;
    }
  }
}

.raovat-filter-price {
  width: 300px;
}

.tiny-gutters {
  margin-right: -2px;
  margin-left: -2px;

  > .col,
  > [class*="col-"] {
    padding-right: 2px;
    padding-left: 2px;
  }
}

.small-gutters {
  margin-right: -10px;
  margin-left: -10px;

  > .col,
  > [class*="col-"] {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.raovat-detail-left {
  margin-bottom: 10px;
}

.raovat-list {
  margin-top: 30px;
  margin-bottom: 30px;
}

.raovat-detail {
  margin-bottom: 20px;
  background: white;
  padding: 5px;
  position: relative;
  transition: all 0.2s ease-in;

  &:hover {
    .raovat-detail-name {
      color: color("red");
    }
  }

  &--date {
    top: 40px;
    left: 0;
    padding: 5px 20px;
    opacity: 0.9;
    background: $color-main;
    color: white;
    z-index: 3;

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 9px;
      background: $color-main;
      transform: skew(-15deg);
      z-index: -1;
    }
  }

  &--block {
    padding: 5px;
    border: 3px solid #e5b14e;
    padding-bottom: 20px;
    border-image: linear-gradient(
      to bottom,
      #e5b14e 0%,
      #fbec6a 19%,
      #e5b14e 37%,
      #fbec6a 58%,
      #e5b14e 74%,
      #fbec6a 92%,
      #be9138 100%
    );
    border-image-slice: 1;
  }
}
.raovat-detail--title {
  font-weight: bold;
}
.raovat-detail-content {
  font-size: 14px;
  line-height: 1.3;
  @include text-row(4, 72);
  margin-top: 10px;
}
.raovat-detail-right {
  padding-left: 10px;
}
.raovat-detail-name {
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 5px;
  font-weight: bold;
  color: #a52d37;
}
.raovat-detail-location {
}
.raovat-detail-list {
  font-size: 15px;
  margin-top: 5px;
  i {
    color: gray("500");
  }
}
.raovat-detail-author {
}
.raovat-detail-author {
  position: absolute;
  bottom: -7px;
  right: 20px;
  z-index: 15;
  .item {
    position: relative;
    padding: 2px 10px;
    color: white;
    font-size: 14px;
    z-index: 1;
    > div {
      position: relative;
      z-index: 1;
    }
    &:before {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      content: "";
      background: rgba(149, 30, 40, 0.9);
      transform: skew(-15deg); // z-index: -1;
    }
    &:hover {
      &:before {
        background: color("red");
      }
    }
  }
}
/* Ion.RangeSlider
// css version 2.0.3
// © 2013-2014 Denis Ineshin | IonDen.com
// =================================================================================================================== */
/* =====================================================================================================================
// RangeSlider */
.irs {
  position: relative;
  display: block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.irs-line {
  position: relative;
  display: block;
  overflow: hidden;
  outline: none !important;
}
.irs-line-left,
.irs-line-mid,
.irs-line-right {
  position: absolute;
  display: block;
  top: 0;
}
.irs-line-left {
  left: 0;
  width: 11%;
}
.irs-line-mid {
  left: 9%;
  width: 82%;
}
.irs-line-right {
  right: 0;
  width: 11%;
}
.irs-bar {
  position: absolute;
  display: block;
  left: 0;
  width: 0;
}
.irs-bar-edge {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
}
.irs-shadow {
  position: absolute;
  display: none;
  left: 0;
  width: 0;
}
.irs-slider {
  position: absolute;
  display: block;
  cursor: default;
  z-index: 1;
}
.irs-slider.single {
}
.irs-slider.from {
}
.irs-slider.to {
}
.irs-slider.type_last {
  z-index: 2;
}
.irs-min {
  position: absolute;
  display: block;
  left: 0;
  cursor: default;
}
.irs-max {
  position: absolute;
  display: block;
  right: 0;
  cursor: default;
}
.irs-from,
.irs-to,
.irs-single {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  cursor: default;
  white-space: nowrap;
}
.irs-grid {
  position: absolute;
  display: none;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
}
.irs-with-grid .irs-grid {
  display: block;
}
.irs-grid-pol {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 8px;
  background: #000;
}
.irs-grid-pol.small {
  height: 4px;
}
.irs-grid-text {
  position: absolute;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  text-align: center;
  font-size: 9px;
  line-height: 9px;
  padding: 0 3px;
  color: #000;
}
.irs-disable-mask {
  position: absolute;
  display: block;
  top: 0;
  left: -1%;
  width: 102%;
  height: 100%;
  cursor: default;
  background: rgba(0, 0, 0, 0);
  z-index: 2;
}
.irs-disabled {
  opacity: 0.4;
}
.lt-ie9 .irs-disabled {
  filter: alpha(opacity=40);
}
.irs-hidden-input {
  position: absolute !important;
  display: block !important;
  top: 0 !important;
  left: 0 !important;
  width: 0 !important;
  height: 0 !important;
  font-size: 0 !important;
  line-height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  outline: none !important;
  z-index: -9999 !important;
  background: none !important;
  border-style: solid !important;
  border-color: transparent !important;
}
/* Ion.RangeSlider, Simple Skin
// css version 2.0.3
// © Denis Ineshin, 2014    https://github.com/IonDen
// © guybowden, 2014        https://github.com/guybowden
// =================================================================================================================== */
/* =====================================================================================================================
// Skin details */
.irs {
  height: 55px;
}
.irs-with-grid {
  height: 75px;
}
.irs-line {
  height: 10px;
  top: 33px;
  background: #eee;
  background: linear-gradient(to bottom, #ddd -50%, #fff 150%); /* W3C */
  border: 1px solid #ccc;
  border-radius: 16px;
  -moz-border-radius: 16px;
}
.irs-line-left {
  height: 8px;
}
.irs-line-mid {
  height: 8px;
}
.irs-line-right {
  height: 8px;
}
.irs-bar {
  height: 10px;
  top: 33px;
  border-top: 1px solid #428bca;
  border-bottom: 1px solid #428bca;
  background: #428bca;
  background: linear-gradient(
    to top,
    rgba(66, 139, 202, 1) 0%,
    rgba(127, 195, 232, 1) 100%
  );
  /* W3C */
}
.irs-bar-edge {
  height: 10px;
  top: 33px;
  width: 14px;
  border: 1px solid #428bca;
  border-right: 0;
  background: #428bca;
  background: linear-gradient(
    to top,
    rgba(66, 139, 202, 1) 0%,
    rgba(127, 195, 232, 1) 100%
  ); /* W3C */
  border-radius: 16px 0 0 16px;
  -moz-border-radius: 16px 0 0 16px;
}
.irs-shadow {
  height: 2px;
  top: 38px;
  background: #000;
  opacity: 0.3;
  border-radius: 5px;
  -moz-border-radius: 5px;
}
.lt-ie9 .irs-shadow {
  filter: alpha(opacity=30);
}
.irs-slider {
  top: 25px;
  width: 27px;
  height: 27px;
  border: 1px solid #aaa;
  background: #ddd;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(220, 220, 220, 1) 20%,
    rgba(255, 255, 255, 1) 100%
  ); /* W3C */
  border-radius: 27px;
  -moz-border-radius: 27px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.irs-slider.state_hover,
.irs-slider:hover {
  background: #fff;
}
.irs-min,
.irs-max {
  color: #333;
  font-size: 12px;
  line-height: 1.333;
  text-shadow: none;
  top: 0;
  padding: 1px 5px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  -moz-border-radius: 3px;
}
.lt-ie9 .irs-min,
.lt-ie9 .irs-max {
  background: #ccc;
}
.irs-from,
.irs-to,
.irs-single {
  color: #fff;
  font-size: 14px;
  line-height: 1.333;
  text-shadow: none;
  padding: 1px 5px;
  background: #428bca;
  border-radius: 3px;
  -moz-border-radius: 3px;
}
.lt-ie9 .irs-from,
.lt-ie9 .irs-to,
.lt-ie9 .irs-single {
  background: #999;
}
.irs-grid {
  height: 27px;
}
.irs-grid-pol {
  opacity: 0.5;
  background: #428bca;
}
.irs-grid-pol.small {
  background: #999;
}
.irs-grid-text {
  bottom: 5px;
  color: #99a4ac;
}
.irs-disabled {
}
.irs-min,
.irs-max {
  color: white;
}
.grid-raovat-more {
  background: rgba(0, 0, 0, 0.4);
  color: white !important;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 5px;
  right: 5px;
  left: 5px;
  bottom: 5px;
  width: auto;
  height: auto;
  font-size: 20px;
}
.raovat-trick {
  margin: 20px 0;
  position: relative;
  &:after {
    content: "";
    width: 100%;
    top: 50%;
    z-index: 1;
    position: absolute;
    left: 0;
    background: gray("700");
    height: 1px;
  }
  .btn-fullcolor {
    margin: 5px 15px;
    z-index: 2;
    position: relative;
    padding: 5px 20px;
    line-height: 1.3;
    font-size: 16px;
    &:before {
      background: #9c1823;
    }
    cursor: text !important;
  }
  @include media-breakpoint-down(sm) {
    .btn-fullcolor {
      margin: 5px 5px;
      font-size: 14px;
    }
  }


}

#modalEnvelope{
  .project-p, .project-p-container{
    border-radius: 0;

  }
}

.sc__features {
  font-size: 13px;
  display: flex;
  flex-flow: row wrap;
  max-width: 700px;
  margin: 5px auto;
  li {
    margin-bottom: 15px;
    flex: 0 0 33.33%;
    width: 33.3333%;

    @include media-breakpoint-down(sm) {
      flex: 0 0 50%;
      width: 50%;
    }
  }
  img {
    margin-right: 7px;
  }
}
.sc__features-row {
  justify-content: center;

}


.lienhe-raovat{
  padding: 40px 0;
  background-size: cover;
  background-position: center center;
  .lienhe-form {

    top: 0;
}
}