.subscribed {
  min-height: 50vh;
  background-image: url("../images/register-bg.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  .title {
    padding-top: 80px;
    .left-block {
      height: 40px;
      width: 100%;
      background-color: #9c1823;
      -webkit-clip-path: polygon(0% 0%, 100% 0, 95% 100%, 0% 100%);
      clip-path: polygon(0% 0%, 100% 0, 95% 100%, 0% 100%);
    }
    .right-block {
      height: 40px;
      width: 100%;
      background-color: #9c1823;
      -webkit-clip-path: polygon(5% 0%, 100% 0, 100% 100%, 0% 100%);
      clip-path: polygon(5% 0%, 100% 0, 100% 100%, 0% 100%);
    }
    .middle-block {
      h2 {
        text-align: center;
        color: white;
      }
    }
    .row-inline {
      height: 1px;
      border-top: solid 1px white;
      width: 80%;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .content {
    margin: 15px 0px;
    min-height: 200px;
    .content-info {
      margin: 15px 0px;
    }
  }
  .footer {
    padding-bottom: 40px;
    .btn-subscribed {
      background-color: transparent;
      cursor: pointer;
      outline: none;
      border: none;
      display: block;
      background-image: url("../images/register-btn-bg.png");
      background-size: cover;
      height: 54px;
      width: 650px;
      position: relative;
      text-align: center;
      margin: 0 auto;
      line-height: 54px;

      transition-duration: 0.3s;
      -webkit-transition-property: box-shadow, transform;
      transition-property: box-shadow, transform;
      .title-subscribed {
        font-size: 27px;
        color: white;
      }
      &:hover {
        box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }
    }
  }
}

.hero-footer {
  background: url("../images/des/footer-pattern.jpg") red;
  overflow: hidden;
  .container {
    padding-top: 20px;
    padding-bottom: 30px;
    .footer-title legend {
      text-align: center;
      width: auto;
      img {
        padding: 0 60px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .footer-title {
      border: 1px solid transparent;
  border-image: linear-gradient(
    to bottom,
    #e5b14e 0%,
    #fbec6a 19%,
    #e5b14e 37%,
    #fbec6a 58%,
    #e5b14e 74%,
    #fbec6a 92%,
    #be9138 100%
  );
  border-image-slice: 1;
    }
    .footer-content {
      text-align: center;
      color: white;
      width: 100%;
      padding: 10px 0;
      word-spacing: 3px;
      .address {
        font-size: 18px;
        font-weight: bold;
      }
      p {
        line-height: 0.7em;
      }
      div {
        line-height: 1.3;
      }
    }
  }
}

.hero-footer-copyright {
  color: white;
  text-align: center;
  background: #9c1823;
  padding: 5px 10px;
}
