@include media-breakpoint-down(md) {
  html {
    font-size: 14px;
  }

  .kl-cta-ribbon:hover{
    background: transparent;
  }
  .site-header-wrapper {
    padding: 0;
  }

  .hero-footer-copyright{
    text-align: center;
  }

  .site-header-wrapper {
    background: transparent;
    box-shadow: none !important;
    .siteheader-container {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .lienhe-bor-right{
    border-right: none;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .zn-res-trigger {
    position: relative;
    display: block;
    width: 25px;
    height: 28px;
    margin: 10px 14px 10px 14px;
  }
  .phonecall-animation {
    position: relative;
    left: 0;
    top: 0;
    margin-top: 0;
  }
  .site-header-main-left {
    order: 2;
  }

  .site-header-main-center {
    .main-menu-wrapper {
      background: $red;
      align-self: flex-start;
    }
  }

  .site-header-main-right {
    order: 3;
    margin-right: 10px;
  }

  .ctabutton {
    padding: 0;
    background: transparent;

    strong {
      display: none;
    }
    &:after {
      display: none;
    }
  }

  #zn-res-menu {
    background: url("../images/menu-mobile-bg.jpg") no-repeat center center;
    background-size: cover;
    &:after {
      content: "";
      height: 3px;
      width: 100%;
      left: 0;
      top: 0;
      right: 0;
      position: absolute;
      background: #cb2b27;
    }
    li {
      text-align: center;
      color: white;
      width: calc(100% - 40px);
      margin-left: 20px;
      > a {
        padding: 13px 28px;
        border-bottom: 1px solid;
        border-bottom-color: inherit;
        display: block;
        z-index: 1;
        font-size: 26px;
        font-weight: bold;
        text-transform: uppercase;
        font-family: "Cabin Condensed", sans-serif;
        color: white;
        padding: 10px 27px;
      }

      &.active {
        background: transparent;
        color: #cb2b27;

        a {
          color: #cb2b27;
        }
      }
    }
    .zn_res_menu_go_back {
    }
    .zn-res-menu-logo {
      display: block;
    }

    .phonecall-animation {
      position: absolute;
      width: 44px;
      height: 44px;

      left: -22px;
      top: 50%;
      margin-top: -22px;
    }

    .ctabutton {

      float: none;
      display: inline-block;
      margin: 15px auto;
      padding: 6px 10px 6px 30px;
      background-color: #ed3237;

      strong {
        display: block;
      }
      &:after {
        display: block;
      }
    }
  }

  #zn-res-menu .zn-close-menu-button {
    display: inline-block;
    padding: 0 !important;
    position: absolute;
    left: -20px;
    right: auto;
    top: 0;
    height: 58px;
    width: 59px !important;
    border: none;
    z-index: 11111;
  }
  .site-social-mobile {
    display: block;

    .site-social {
      display: flex;
      position: relative;
      top: 0;
      right: 0;
      justify-content: center;
      .site-social-item {
        margin: 20px 10px 5px;
        flex: 0 0 auto;
        span {
          display: block;
          margin: 0 auto;
        }
      }
    }
  }

  .tintuc-tieudiem--chitiet {
    padding: 0;
  }
  .tintuc-tieudiem--title {
    margin-top: 20px;
  }
  .tintuc-tieudiem-heading {
    img {
      width: 120px;
    }
    .tintuc-tieudiem-txt {
      font-size: 26px;
      left: 65px;
      line-height: 39px;
      bottom: 0;
    }
  }

  .tintuc-tieudiem-daidien {
    width: 100%;
    height: 130px;

    transform: skew(-21deg);
    background: red;
    overflow: hidden;
    backface-visibility: hidden;
    margin-left: -18px;
    z-index: 1;
    position: relative;
  ;
    .tintuc-tieudiem--image{
    }

  }
  .tintuc-border {
    padding: 30px 10px;
  }

  .project-f {
    background-size: cover;
    background-attachment: initial;
  }
  .news-f-container {
    background-size: cover;
    background-attachment: initial;
  }

  .subscribed {
    background-size: cover;
    background-attachment: initial;
  }
  .lienhe-info{
    background-size: cover;
    background-attachment: initial;
  }

  .tintuc-detail .overlay-xem {
    opacity: 1;
    top: 50%;
    backface-visibility: hidden;
    visibility: visible;
    z-index: 1;
  }
  .tintuc-relative{
    margin-left: 10px;
    margin-right: 10px;
  }
  .tintuc-relative-content{
    padding: 5px 10px;
   span{
     display: block;
     text-transform: lowercase;
     &:first-letter {
       text-transform: uppercase;
     }
   }
  }
}

@include media-breakpoint-down(sm) {
  html {
    font-size: 14px;
  }

  .site-header-wrapper {
    padding: 0;
  }

  .site-header-wrapper {
    background: transparent;
    box-shadow: none !important;
    .siteheader-container {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .zn-res-trigger {
    position: relative;
    display: block;
    width: 25px;
    height: 28px;
    margin: 10px 14px 10px 14px;
  }
  .phonecall-animation {
    position: relative;
    left: 0;
    top: 0;
    margin-top: 0;
  }
  .site-header-main-left {
    order: 2;
  }

  .site-header-main-center {
    .main-menu-wrapper {
      background: $red;
      align-self: flex-start;
    }
  }

  .iz {
    display: none;
  }

  .iz-house {
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    animation-fill-mode: none !important;
    width: 300px;
    height: 414px;
    bottom: 40px;
    animation-name: dwdw !important;
  }
  .iz-house-submit {
    top: 252px;
  }
  .iz-date {
    margin: 0 auto;
    margin-bottom: 5px;
  }

  .iz-date {
    width: 120px;
    height: 52px;
    /* background-size: cover; */
    background: url(../images/iz-date-bg-mb.png) no-repeat center center;
    font-size: 16px;
    color: #f8ed78;
    padding-bottom: 18px;
    padding-left: 9px;
    background-size: cover;
  }

  .hmm-wave-container {
    // height: 110px;
  }
  .iz-house-title {
    font-size: 24px;

    margin-top: 55px;
  }

  .iz-house-choose {
    padding: 0 40px 10px 30px;
    top: 169px;
  }
  .iz-house-choose-2 {
    top: 205px;
  }

  .iz-house-choose-select {
    height: 26px;
  }

  .vegas-container {
    min-height: 650px;
  }

  .des-wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }

  .iz-container {
    padding-top: 0;
    background: #a0171c;
    height: 105px;
  }

  .hmm-wave-container {
    bottom: 30px;
  }

  .iz-date-text {
    color: white;
    font-size: 15px;
    line-height: 1.3;
    max-width: 100%;
    margin-left: 0;
  }

  .site-header-main-right {
    order: 3;
    margin-right: 10px;
  }

  .ctabutton {
    padding: 0;
    background: transparent;

    strong {
      display: none;
    }
    &:after {
      display: none;
    }
  }

  .project-f {
    .project-f-slider-mt {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .project-f-item {
    position: relative;
    .project-f-inside {

      padding: 0;
    }
    .project-f-inside {
    }

    .project-f-name {
      top: -10px;
      transform: skew(-20deg) translate3d(-50%, 0, 0);
      background-color: #cb2b27;
    }

    .project-f-price {
      background-color: #cb2b27;
      left: -15px;
      transform: translate3d(0, 0, 0);
    }
    .project-f-view {
      opacity: 1;
      visibility: visible;
    }

    .project-f-img {
      &:after {
        background: rgba(0, 0, 0, 0);
      }
    }
  }

  .project-f-item {
    .project-f-name {
      top: -10px;
      font-size: 13px;
    }
    .project-f-price {
      font-size: 13px;
    }
    .project-f-inside {
      width: 90%;
      height: 90%;

      border: 4px solid #be9138;
      border-image: linear-gradient(
                      to bottom,
                      #e5b14e 0%,
                      #fbec6a 19%,
                      #e5b14e 37%,
                      #fbec6a 58%,
                      #e5b14e 74%,
                      #fbec6a 92%,
                      #be9138 100%
      );
      border-image-slice: 1;

    }
    &:hover {
      .project-f-name {
        top: -10px;
        font-size: 13px;
      }
      .project-f-inside {
        width: 90%;
        height: 90%;

        border: 4px solid #be9138;
        border-image: linear-gradient(
                        to bottom,
                        #e5b14e 0%,
                        #fbec6a 19%,
                        #e5b14e 37%,
                        #fbec6a 58%,
                        #e5b14e 74%,
                        #fbec6a 92%,
                        #be9138 100%
        );
        border-image-slice: 1;

      }
    }
  }

  .project-f-slider-mt {
    margin-top: -5%;
  }

  .project-f-nav {
    margin-top: 10px;
    padding-bottom: 10px;
  }

  .project-f-btn {
    display: inline-block;
    font-size: 16px;
    padding: 0 18px;
    height: 45px;
    line-height: 45px;

    outline: none !important;
    &:hover {
      background: rgba(#cb2b27, 0.8);
      &:after {
        border-bottom-color: rgba(#cb2b27, 0.8);
        border-top-color: rgba(#cb2b27, 0.8);
      }
    }
    position: relative;
    &.swiper-button-disabled {
      opacity: 0.7;
    }
  }

  .project-f-next {
    margin-left: 17px;

    &:after {
      border-bottom: 45px solid rgba(0, 0, 0, 0.8);
      border-left: 20px solid transparent;
    }
  }

  .project-f-prev {
    margin-right: 17px;
    // margin-left: -20px;
    position: relative;

    &:after {
      border-top: 45px solid rgba(0, 0, 0, 0.8);
      border-right: 20px solid transparent;
    }
  }

  .news-f-content {
    font-size: 14px;
    h3 {
      font-size: 18px;
    }

  }

  .news-f {
    .swiper-pagination.swiper-pagination-bullets {
      bottom: 0;
      display: block;
    }
  }

  .subscribed .title .middle-block h2 {
    font-size: 30px;
  }

  .subscribed .footer .btn-subscribed {
    width: auto;
    background: #8d0914;
    border-radius: 5px;

    padding-left: 20px;
    padding-right: 20px;
  }
  .subscribed .footer .btn-subscribed .title-subscribed {
    font-size: 18px;
  }

  .subscribed .title {
    padding-top: 30px;
  }

  .footer-content {
    font-size: 13px;
  }

  .site-social {
    display: none;
  }

  .project-f-head {
    padding: 20px 0;
    overflow: hidden;
    background-size: cover;
    padding-bottom: 10%;
  }

  .project-p-h {
    width: 100%;
  }
  .project-p-container {
    border-radius: 0;
    padding: 5px;
    background: rgba(#9e2228, 0.5);
    padding: 10px;
    border: 2px solid rgba(#e8d039, 0.9);

    position: relative;
    display: block;
    .project-p {
      width: 100%;
      height: auto;
      border-radius: 0;
      padding: 10px 20px;
    }
    .form-group {
      text-align: left;
      label {
        margin-bottom: 5px !important;
      }
    }
    .form-group.row {
      margin-right: -15px;
      margin-left: -15px;
    }
  }

  .project-title {
    .project-search-container {
      display: inline-block;
      position: relative;
      top: 0;
      transform: translateX(-50%);
      margin-top: 30px;
    }
  }

  .project-wrapper {
    height: auto;
    min-height: 0;
    position: relative;
    padding-top: 0;
  }

  .lienhe-title {
    padding: 120px 0 40px;
    &:after {
      content: "";
      height: 3px;
    }
  }

  .project-slider-container {
    display: none;
  }

  .project-onmobile {
    position: relative;

    .project-f-nav {
      margin: 20px 0;
      color: white;
    }
  }
  .hero-footer.hero-footer-duan {
    position: relative;
  }

  .project-item-mobile {
    position: relative;
    .project-f-view,
    .button-xem {
      opacity: 1;
      visibility: visible;
      z-index: 1;
      bottom: 5px;
    }
    .project-overlay-name {
      transform: skew(0);
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
      right: auto;
    }
    .project-overlay-name {
      &.price {
        bottom: 20px;
        left: -8px;
        top: auto;
        right: auto;
        transform: translateX(0);
      }
    }

    &:after {
      content: "";
      height: 3px;
      position: absolute;
      bottom: 0;
      width: 100%;
      left: 0;
      background: rgb(190, 161, 106);
      background: linear-gradient(
                      90deg,
                      rgba(190, 161, 106, 1) 0%,
                      rgba(255, 245, 183, 1) 22%,
                      rgba(220, 189, 106, 1) 53%,
                      rgba(255, 241, 140, 1) 76%,
                      rgba(197, 167, 106, 1) 100%
      );
    }
  }

  .project-item-mobile-sub {
    position: absolute;
    width: 100%;
    background: rgba(203, 43, 39, 0.8);
    color: white;
    padding: 10px;
    /* bottom: 50px; */
    /* left: 0; */
    font-weight: normal;
    font-size: 14px;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
  }

  .lienhe-info-box {
    padding: 20px 10px;
  }
  .lienhe-form {
    padding: 20px;
  }
  .tintuc-tieudiem{
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 320px) {
  .news-f-content {

    div {
      @include text-row(3, 66);
    }
  }
}