$color-border: yellow;
$color-main: #ef4f53;

.tintuc-main {
  background-image: url("../images/tintuc/man-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 30px;
}
.tintuc-banner {
  position: relative;
  height: 350px;
  background-size: cover;
  background-position: center center;
  @include media-breakpoint-down(md) {
    height: 250px;
  }
}

.tintuc-detail--content {
  @include text-row(5, 135);
}

.line-bottom {
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0;
  margin: 0;
  z-index: 4;
  background: linear-gradient(to left, #cca961 0%, #fcf088 100%);
}
.tintuc-menu {
  margin-top: -35px;
  position: relative;
  z-index: 5;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;

  @include media-breakpoint-down(sm) {
    display: flex;
    flex-flow: row wrap;
    margin-top: 10px;
    li{
      margin: 2px 0;
      flex:  0 0 50%;
      padding: 0 15px;
      a{
        display: block;

      }
    }
    //margin-top: -20px;
    //padding: 0 10px;
    //overflow-y: hidden;
    //overflow-x: auto;
  }
  text-align: center;

  .search-container {
    display: none;
    position: absolute;
    right: -10px;
    padding: 20px;
    font-size: 16px;
    background: #f4f4f4;
    width: 240px;
    border-bottom: 1px solid #fff;
    z-index: 1;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);

    .header-searchform input[type=text] {

      font-size: 16px;
  }
  }
}

.menu-detail {
  background: transparent;
  margin: 0px;
  position: relative;
  min-width: 0;
  margin: 0 3px;
  display: inline-block;
  &.is-active {
    a {
      background: rgba(218, 49, 53, 0.9);
    }
  }

  a {
    color: white;
    background: rgba(149, 30, 40, 0.9);

    padding: 15px 30px;
    font-size: 20px;
    display: inline-block;
    text-transform: uppercase;
    transform: skew(-15deg);
    white-space: nowrap;

    p,
    img {
      transform: skew(15deg);
    }

    img {
      max-width: 20px;
      max-width: 40px;
    }
    transition: all 0.2s ease-in;

    &:hover {
      background: rgba(218, 49, 53, 0.9);
    }
  }

  .menu-detail-icon {
    width: 30px;
  }

  @include media-breakpoint-down(md) {
    a {
      padding: 7px 15px;
      font-size: 13px;

      .menu-detail-icon {
        width: 17px;
      }
    }
  }
}

.menu-detail > a:hover {
  &::after {
    background: rgba(218, 49, 52, 0.9);
  }
}
.tintuc-tieudiem-daidien{
  width: 450px;
  height: 310px;
  transform:skew(-21deg);
  overflow: hidden;
  margin-left: -54px;

}
.tintuc-tieudiem--image{

  position: absolute;
  width: 140%;
  height: 100%;
  top: 0;
  left: -20%;
  transform:skew(21deg);
  background-size: cover;
  background-position: center center;
}


.tintuc-tieudiem-txt{
  font-size: 60px;
    font-weight: bold;
    color: white;
    white-space: nowrap;
    position: absolute;
    /* top: 0; */
    bottom: 10px;
    left: 140px;
    line-height: 60px;
    transform: rotate(-68deg);
    transform-origin: 0 100%;
}

.tintuc-list{
  margin-top: 20px;
}
.tintuc-tieudiem {
  max-width: 1350px;
  margin: 20px auto 0;
  padding: 10px;
  border: 3px solid #e5b14e;
  border-image: linear-gradient(
    to bottom,
    #e5b14e 0%,
    #fbec6a 19%,
    #e5b14e 37%,
    #fbec6a 58%,
    #e5b14e 74%,
    #fbec6a 92%,
    #be9138 100%
  );
  border-image-slice: 1;

  &--chitiet {
    padding: 15px;
    @include media-breakpoint-up(lg) {
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      background: #fff;
      opacity: 0.85;
      padding: 20px 50px 30px;
      max-width: 900px;
    }
  }

  &--title,
  &--content {
    color: #8d2e31;
  }

  &--title {
    font-size: 22px;
    font-weight: bold;
    line-height: 1.3;
    @media (min-width: 990px) {
      font-size: 25px;
    }
  }

  &--content {
    font-size: 20px;
    line-height: 1.5;
    @include text-row(4, 117)
  }
}



.tintuc-tieudiem--btn {
  background: #ef4f53;
  color: white;
  text-transform: uppercase;
  transform: skew(-15deg);
  display: block;
  text-align: center;
  padding: 10px 10px;
  display: block;
  @include media-breakpoint-up(lg) {
    position: absolute;
    padding: 10px 25px;
    right: 50px;
    bottom: -20px;
  }


  p {
    transform: skew(15deg);
  }

  &:hover {
    background: darken(#ef4f53, 10%);
    color: white;
  }
}

.tintuc-detail {
  background: white;
  padding: 10px;
  position: relative;
  transition: all 0.2s ease-in;
  &:hover {
    background: #82191c;
    cursor: pointer;
    color: white;
  }

  &--date {
    top: 40px;
    left: 0;
    padding: 10px;
    opacity: 0.9;
    background: $color-main;
    color: white;
    z-index: 3;

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 9px;
      background: $color-main;
      transform: skew(15deg);
      z-index: -1;
    }
  }

  &--block {
    padding: 10px;

  border: 3px solid #e5b14e;
  border-image: linear-gradient(
    to bottom,
    #e5b14e 0%,
    #fbec6a 19%,
    #e5b14e 37%,
    #fbec6a 58%,
    #e5b14e 74%,
    #fbec6a 92%,
    #be9138 100%
  );
  border-image-slice: 1;

  }
  &--image {
    position: relative;
  }
}
.tintuc-detail--title {
  font-weight: bold;
}
.tintuc-xemthem {
  max-width: 600px;
  margin: 0 auto;
  cursor: pointer;
  &--text {
    position: relative;
    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 35%;
      height: 2px;
      background: linear-gradient(to left, #cca961 0%, #fcf088 100%);
      transform: translateY(-50%);
      top: 50%;
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
      background: linear-gradient(left, #cca961 0%, #fcf088 100%);
    }
  }
}
.overlay-xem {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 60px;
  height: 60px;
  border: white solid 1px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.8s ease;
  z-index: -1;
  span {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    background: rgba(224, 86, 79, 0.9);
    color: white;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative;
  }
  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #ed3237;
    border-radius: inherit;
    transition: opacity 0.3s, transform 0.3s;
    animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
    z-index: 0;
  }
}
.tintuc-detail:hover .overlay-xem {
  opacity: 1;
  top: 50%;
  transition: opacity 0.8s ease;
  z-index: 2;
}
.embed-responsive-tintuc::before {
  padding-top: percentage(230/410);
}
.tintuc-relative {
  margin-bottom: 50px;
}
.tintuc-relative-item {
  // width: 400px;
  padding: 10px 0 25px 35px;
  background: transparent;
  position: relative;
  transition: all 0.2s ease-in;
  &:hover {
    .tintuc-relative-img {
      box-shadow: -10px -10px 0px 0px #9c1823;
    }
    .tintuc-relative-content {
      background: #9c1823;
      color: white;
    }
  }
}
.tintuc-relative-img {
  box-shadow: -10px -10px 0px 0px white;
  transition: all 0.2s ease-in;
}
.tintuc-relative-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  padding: 10px 20px;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.8);
  color: black;
  line-height: 1.3;
  text-align: center;
  transition: all 0.2s ease-in;
  span{
    display: block;
    @include text-row(2, 40);
  }
}
.tintuc-relative {
  max-width: 1350px;
  margin: 20px auto;
  padding: 10px;
  border: 3px solid #e5b14e;
  border-image: linear-gradient(
    to bottom,
    #e5b14e 0%,
    #fbec6a 19%,
    #e5b14e 37%,
    #fbec6a 58%,
    #e5b14e 74%,
    #fbec6a 92%,
    #be9138 100%
  );
  border-image-slice: 1;
  position: relative;
  .news-prev {
    position: absolute;
    left: -20px;
    top: 50%;
    margin-top: -22px;
    color: white;
    &:after {
      border-top: 44px solid rgba(0, 0, 0, 0.5);
      border-right: 22px solid transparent;
    }
  }
  .news-next {
    position: absolute;
    right: -20px;
    top: 50%;
    margin-top: -22px;
    color: white;
    &:after {
      border-bottom: 44px solid rgba(0, 0, 0, 0.5);
      border-left: 22px solid transparent;
    }
  }
  .project-f-btn {
    font-size: 18px;
    padding: 0 18px;
    height: 44px;
    line-height: 44px;
    background: rgba(0, 0, 0, 0.5);
    &:hover {
      background: rgba(#cb2b27, 0.8);
      &:after {
        border-bottom-color: rgba(#cb2b27, 0.8);
        border-top-color: rgba(#cb2b27, 0.8);
      }
    }
  }
}
.tintuc-border {
  border: 3px solid transparent;
  border-image: linear-gradient(
    to bottom,
    #e5b14e 0%,
    #fbec6a 19%,
    #e5b14e 37%,
    #fbec6a 58%,
    #e5b14e 74%,
    #fbec6a 92%,
    #be9138 100%
  );
  border-image-slice: 1;
  position: relative;
  padding: 50px 30px;
  background: white;
}
.tintuc-title {
  color: $red;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 25px;
  &:after {
    content: "";
    width: 40%;
    left: 30%;
    position: absolute;
    height: 1px;
    background: $red;
    bottom: 0;
  }
}
.tintuc-sortdecs {
  background: #9c1823;
  padding: 15px 20px;
  text-align: center;
  color: white;
  margin-left: -40px;
  margin-right: -40px;
  margin-bottom: 30px;
}
.tintuc-social {
  position: absolute;
  top: -15px;
  right: 15px;
  li {
    height: 28px;
    line-height: 28px;
    a,
    span {
      position: relative;
      z-index: 2;
      display: block;
      line-height: 28px;
      padding: 0px 10px;
      color: white;
      font-size: 14px;
    }
    position: relative;
    &:after {
      z-index: 1;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(#ed3237, 0.9);
      transform: skew(-15deg);
      top: 0;
      left: 0;
    }
    &:hover {
      &:after {
        background: #a42d37;
      }
    }
  }
  .list-inline-item:not(:last-child) {
    margin-right: 0px;
  }
}
