.site-social {
  position: fixed;
  top: 90px;
  right: 20px;
  z-index: 10;
}

.site-social-item {
  border-radius: 50%;

  margin-bottom: 10px;
  display: block;
  border-radius: 50%;
  padding: 3px;
  border: 1px solid gray("500");
  span {
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: gray("500");
    color: gray("100");
    display: flex;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: all 0.2s ease;
  }

  &:hover {
    border-color: rgba(color("red"), 0.8);
    span {
      background: rgba(color("red"), 0.8);
      color: white;
    }
  }
}



body.loading {
  &:before {
    content: '';
    background-color: rgba(255,255,255,0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9998;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-touch-callout: none;
    user-select: none;
  }
  &:after {
    content: '';
    width: 42px;
    height: 42px;
    border: 2px solid #cd2122;
    border-radius: 30px;
    opacity: 0;
    animation: preloader-pulsating-circle 1s ease-out;
    animation-iteration-count: infinite;
    top: calc(50% - 21px);
    left: calc(50% - 21px);
    z-index: 9999;
    position: absolute;
  }
}