{% extends 'layouts/application.html' %} {% import 'macros/helpers.html' as macro %} {% block content %}

<section class="lienhe-title" style="background-image: url('images/tintuc/top-banner02.jpg')">
  <div class="container">
    <h2 class="text-center h1 mb-0 font-weight-bold lienhe-title-name">
      <span>GIỚI THIỆU</span>
    </h2>


  </div>
</section>

<div class="container mb-2 mb-lg-4 mt-2 mt-lg-4">
  <div class="row">
    <div class="col-12 col-lg-8 offset-lg-2">
      <div class="wpb_wrapper">
        <p><strong>Bất động sản Golden Land (GDL)</strong> – Trước tiên, chúng tôi xin chân thành cảm ơn đến quý khách
          hàng, quý đối tác đã tin tưởng hợp tác với công ty chúng tôi trong thời gian qua và đó cũng là nguồn động lực
          để
          tập thể nhân viên Golden Land luôn phấn đấu hoàn thiện mình hơn nhằm phục vụ quý khách hàng ngày một tốt hơn.</p>
        <p style="text-align: justify">Được thành lập từ những năm 2012 với dịch vụ phân phối và quản lý bất động sản
          tại
          khu Nam Sài Gòn, trong 5 năm qua Golden Land đã từng bước, từng bước phát triển vững chắc trên con đường định
          hướng của mình. Đặc biệt từ năm 2015, Golden Land đã mở chi nhánh thứ 2 tại quận Bình Thạnh để đầu tư và phân
          phối các dự án tại khu Đông Sài Gòn. Golden Land đặt mục tiêu trở thành một trong ba công ty Bất động sản
          hàng
          đầu Việt Nam về phân phối vào năm 2019.</p>
        <p style="text-align: justify">Hiện nay, chúng tôi tự hào là đơn vị tại Việt Nam phân phối độc quyền nhiều dự
          án
          căn hộ, biệt thự cao cấp tại Việt Nam nói chung và Thành phố Hồ chí minh nói riêng. Trong năm 2017, chúng tôi
          tiếp tục là đối tác chiến lược với các chủ đầu tư lớn trong vào ngoài nước như: VinCity của Tập đoàn
          Vingroup,
          Lancaster Lincoln của tập đoàn Trung Thủy, Xi Grand Court của của tập đoàn Phú Sơn Thuận…</p>
        <p style="text-align: justify">Bên cạnh đó, công tác phát triển nguồn nhân lực là một trong những hoạt động
          trọng
          tâm trong chiến lược phát triển của Golden Land. Tại đây, tập thể cán bộ nhân viên Golden Land được làm việc
          trong môi trường năng động, chuyên nghiệp, được đào tạo chuyên môn cùng với đó là cơ hội thăng tiến rộng mở
          cho
          mọi thành viên của công ty.</p>



        <p>

          <strong> PHÁT TRIỂN BỀN VỮNG</strong> Khi nói về mức độ tăng trưởng của các công ty bất động sản chúng ta
          thường hình dung về
          sự biến thiên khó lòng dự đoán. “Lên cao” hay “tụt dốc” là những cảm giác đã trở nên quá quen thuộc với các
          nhà đầu tư; vậy nên định hướng phát triển bền vững có lẽ là điều khó tin với nhiều đối tác và khách hàng
          trong lĩnh vực bất động sản.
        </p>



        <div>

          <div class="kl-title-block tbk--left text-left tbk-symbol--line_border tbk--colored">
            <!-- Title -->
            <h4 class="tbk__title">
              Tuy nhiên bằng những thành quả đạt được từ khi thành lập đến nay, Golden Land tự
              tin với sự lựa chọn của mình.
            </h4>
            <!--/ Title -->

            <!-- Title bottom line symbol -->
            <div class="tbk__symbol">
              <span></span>
            </div>
            <!--/ Title bottom line symbol -->


            <!-- Title bottom text -->
            <div class="tbk__text">
              <p>
                1. Không nuôi tham vọng “một bước đổi đời” Giữa vô vàn những dự đoán về thị
                trường, Golden Land chọn cho mình một lý tưởng kinh doanh ít ai nghĩ đến. Thay vì đến với bất động sản
                bằng
                lợi nhuận hay bằng sự nhạy bén nắm bắt thời cơ; Golden Land lại kiên trì theo đuổi sứ mệnh “ đáp ứng
                nhu
                cầu
                nhà ở” cho người dân trên địa bàn thành phố. Có điều kiện tài chính thì có nhà để ở và thập chí còn hơn
                thế
                nữa… đó là điều hiển nhiên. Nhưng người dân có thu nhập trung bình vẫn có thể sở hữu nhà, đó là khách
                hàng
                của Golden Land. Để chạm tay đến những thành công vang dội, con đường chúng tôi đang đi có thể dài hơn
                môt
                một chút, vất vả hơn một chút… nhưng lại là một con đường rất đáng tự hào và bền vững mà ban lãnh đạo
                cũng
                như tập thể nhân viên quyết tâm thực hiện.
              </p>

            </div>
            <!--/ Title bottom text -->

            <!-- Title bottom text -->
            <div class="tbk__text">
              <p>
                2. Không bảo bọc trong sự an toàn Không bảo bọc trong sự an toàn,
                không cổ hũ với những cách làm truyền thống; Golden Land mạnh dạn thay đổi và áp dụng những tiến bộ của
                khoa
                học để bắt kịp xu hướng phát triển của thị trường. Sự tiến bộ của công nghệ đã mang đến cho chúng tôi
                cơ
                hội
                được gặp gỡ nhiều khách hàng hơn. Ngoài thị trường khách hàng trong nước, chúng tôi còn giúp cho nhiều
                khách
                hàng ngoại quốc được an cư trong khoảng thời gian sinh sống và làm việc tại Việt Nam 3. Không độc bước
                thực
                hiện ước mơ Phải nói rằng, Golden Land đặc biệt trân trọng sự đồng hành của các đối tác là các chủ đầu
                tư
                hàng đầu Việt Nam như: Vingroup, TTC Group, Đất Xanh Group… Chính sự hợp tác đầy hiệu quả này là điều
                kiện
                thuận lợi để chúng tôi đáp ứng được nhu cầu của khách hàng, trọn vẹn được chữ tín trong kinh doanh và
                là
                nền
                tảng vững chắc cho sự phát triển của Golden Land ở hiện tại cũng như tương lai
              </p>

            </div>
            <!--/ Title bottom text -->
          </div>


        </div>
      </div>
    </div>

  </div>


  <div class="container">
    <div class="timeline_bar">
      <div class="row">
        <!-- Start timeline -->
        <div class="col-sm-12 end_timeline">
          <h3 class="text-danger font-weight-bold"><span>HÌNH THÀNH VÀ PHÁT TRIỂN</span></h3>
        </div>
        <!--/ Start timeline -->

        <!-- Timeline box 1 -->
        <div class="col-sm-12 col-md-6 offset-md-6" data-align="right">
          <!-- Timeline box -->
          <div class="timeline_box">
            <!-- Date -->
            <div class="date">
              Năm 2012
            </div>
            <!--/ Date -->

            <!-- Title -->
            <h4 class="htitle">
              Thành lập công ty
            </h4>
            <!--/ Title -->

            <!-- Content -->
            <p>
              Được thành lập vào năm 2012 với chi nhánh đầu tiên tại quận 7, TP. HCM chuyên phân phối các dự án tại khu
              Nam Sài Gòn
            </p>
            <!--/ Content -->
          </div>
          <!--/ Timeline box -->
        </div>
        <!--/ Timeline box 1 -->

        <!-- Timeline box 2 -->
        <div class="col-sm-12 col-md-6">
          <!-- Timeline box -->
          <div class="timeline_box">
            <!-- Date -->
            <div class="date">
              Năm 2013
            </div>
            <!--/ Date -->

            <!-- Title -->
            <h4 class="htitle">
              Thêm Dịch Vụ Mới
            </h4>
            <!--/ Title -->

            <!-- Content -->
            <p>
              Năm 2013, Golden Land cung cấp thêm dịch vụ quản lý BĐS và đầu tư.
            </p>
            <!-- Content -->
          </div>
          <!--/ Timeline box -->
        </div>
        <!--/ Timeline box 2 -->

        <!-- Timeline box 3 -->
        <div class="col-sm-12 col-md-6 offset-md-6" data-align="right">
          <!-- Timeline box -->
          <div class="timeline_box">
            <!-- Date -->
            <div class="date">
              Năm 2014
            </div>
            <!--/ Date -->

            <!-- Title -->
            <h4 class="htitle">
              Thêm dịch vụ quản lý BĐS
            </h4>
            <!--/ Title -->

            <!-- Content -->
            <p>
              Năm 2014, số lượng căn hộ công ty quản lý lên đến 300 căn hộ cao cấp tại TP. HCM.
            </p>
            <!--/ Content -->
          </div>
          <!--/ Timeline box -->
        </div>
        <!--/ Timeline box 3 -->

        <!-- Timeline box 4 -->
        <div class="col-sm-12 col-md-6">
          <!-- Timeline box -->
          <div class="timeline_box">
            <!-- Date -->
            <div class="date">
              Năm 2015
            </div>
            <!--/ Date -->

            <!-- Title -->
            <h4 class="htitle">
              Mở chi nhánh thứ 2
            </h4>
            <!--/ Title -->

            <!-- Content -->
            <p>
              Năm 2015, Golden Land khai trương chi nhánh tại Bình Thạnh chuyên đầu tư và phân phối các dự án tại khu
              Đông Sài Gòn
            </p>
            <!--/ Content -->
          </div>
          <!--/ Timeline box -->
        </div>
        <!--/ Timeline box 4 -->

        <!-- End timeline -->
        <div class="col-sm-12 end_timeline">
          <span>NAY</span>
        </div>
        <!--/ End timeline -->
      </div>
      <!--/ row -->
    </div>
  </div>

  <br>
  <br>

  <div class="container">
    <div class="row">

      <div class="col-sm-12 col-md-12 col-lg-4">
        <!-- Icon box element / Circle shaped, title & content left aligned -->
        <div class="kl-iconbox kl-iconbox--sh-circle text-left">
          <div class="kl-iconbox__inner">
            <!-- Icon/Image wrapper -->
            <div class="kl-iconbox__icon-wrapper">
              <!-- Icon = .icon-gi-ico-1 -->
              <span class="kl-iconbox__icon icon-gi-ico-7"></span>
              <!--/ Icon = .icon-gi-ico-1 -->
            </div>
            <!-- Icon/Image wrapper - .kl-iconbox__icon-wrapper -->

            <!-- Content wrapper -->
            <div class="kl-iconbox__content-wrapper">
              <!-- Title wrapper -->
              <div class="kl-iconbox__el-wrapper kl-iconbox__title-wrapper">
                <!-- Title with custom color -->
                <h3 class="kl-iconbox__title orange">
                  TẦM NHÌN
                </h3>
                <!--/ Title with custom color -->
              </div>
              <!--/ Title wrapper -->

              <!-- Content -->
              <div class="kl-iconbox__el-wrapper kl-iconbox__desc-wrapper">
                <!-- Description -->
                <p class="kl-iconbox__desc">
                  Trong 5 năm đầu tiên trở thành đơn vị môi giới hàng đầu tại TP. HCM và trở thành một trong ba công ty
                  Bất động sản hàng đầu Việt Nam về phân phối vào năm 2019.
                </p>
                <!--/ Description -->
              </div>
              <!--/ Content -->
            </div>
            <!--/ Content wrapper - .kl-iconbox__content-wrapper -->
          </div>
          <!--/ .kl-iconbox__inner -->
        </div>
        <!--/ Icon box element / Circle shaped, title & content left aligned -->
      </div>
      <!--/ col-sm-12 col-md-12 col-lg-4 -->

      <div class="col-sm-12 col-md-12 col-lg-4">
        <!-- Icon box element / Circle shaped, title & content center aligned -->
        <div class="kl-iconbox kl-iconbox--sh-circle text-center">
          <div class="kl-iconbox__inner">
            <!-- Icon/Image wrapper -->
            <div class="kl-iconbox__icon-wrapper ">
              <!-- Icon = .icon-gi-ico-7 -->
              <span class="kl-iconbox__icon icon-gi-ico-2"></span>
              <!--/ Icon = .icon-gi-ico-7 -->
            </div>
            <!-- Icon/Image wrapper - .kl-iconbox__icon-wrapper -->

            <!-- Content wrapper -->
            <div class="kl-iconbox__content-wrapper">
              <!-- Title wrapper -->
              <div class="kl-iconbox__el-wrapper kl-iconbox__title-wrapper">
                <!-- Title with custom color -->
                <h3 class="kl-iconbox__title orange">
                  SỨ MỆNH
                </h3>
                <!--/ Title with custom color -->
              </div>
              <!--/ Title wrapper -->

              <!-- Content -->
              <div class="kl-iconbox__el-wrapper kl-iconbox__desc-wrapper">
                <!-- Description -->
                <div class="kl-iconbox__desc">
                  <div>
                    <p>Đối với khách hàng, <strong>Golden Land</strong> mong muốn mang những sản phẩm tốt nhất, phù hợp
                      nhất cho khách hàng bằng nỗ lực phân phối những dự án của chủ đầu tư uy tín trên thị trường cùng
                      với việc xây dựng đội ngũ kinh doanh đủ Tâm – Tầm – Tài.</p>
                    <p>Đối với cán bộ nhân viên, <strong>Golden Land</strong> mong muốn mang lại cho các thành viên
                      trong
                      công ty có cuộc sống đầy đủ về vật chất, phòng phú về tinh thần và viên mãn trong cuộc sống.</p>
                  </div>
                </div>
                <!--/ Description -->
              </div>
              <!--/ Content -->
            </div>
            <!--/ Content wrapper - .kl-iconbox__content-wrapper -->
          </div>
          <!--/ .kl-iconbox__inner -->
        </div>
        <!--/ Icon box element / Circle shaped, title & content center aligned -->
      </div>
      <!--/ col-sm-12 col-md-12 col-lg-4 -->

      <div class="col-sm-12 col-md-12 col-lg-4">
        <!-- Icon box element / Circle shaped, title & content right aligned -->
        <div class="kl-iconbox kl-iconbox--sh-circle text-right">
          <div class="kl-iconbox__inner">
            <!-- Icon wrapper -->
            <div class="kl-iconbox__icon-wrapper ">
              <!-- Icon = .icon-gi-ico-8 -->
              <span class="kl-iconbox__icon icon-gi-ico-8"></span>
              <!--/ Icon = .icon-gi-ico-8 -->
            </div>
            <!-- Icon wrapper - .kl-iconbox__icon-wrapper -->

            <!-- Content wrapper -->
            <div class="kl-iconbox__content-wrapper">
              <!-- Title wrapper -->
              <div class="kl-iconbox__el-wrapper kl-iconbox__title-wrapper">
                <!-- Title with custom color -->
                <h3 class="kl-iconbox__title orange">
                  GIÁ TRỊ CỐT LÕI
                </h3>
                <!--/ Title with custom color -->
              </div>
              <!--/ Title wrapper -->

              <!-- Content -->
              <div class="kl-iconbox__el-wrapper kl-iconbox__desc-wrapper">
                <!-- Description -->
                <p class="kl-iconbox__desc">
                  Đối với <strong>Golden Land</strong> con người là trọng tâm là giá trị cốt lõi của công ty, nên chúng
                  tôi luôn chú trọng đến việc đào tạo, bồi dưỡng và trọng dụng nhân tài nhằm hướng đến sự Trung thực –
                  Chuyên nghiệp – Nhiệt tình trong mỗi nhân viên. Ngoài ra, Golden Land cũng xây dựng một môi trường
                  làm
                  việc chuyên nghiệp, sáng tạo và ĐẬM CHẤT GOLDEN LAND.
                </p>
                <!--/ Description -->
              </div>
              <!--/ Content -->
            </div>
            <!--/ Content wrapper - .kl-iconbox__content-wrapper -->
          </div>
          <!--/ .kl-iconbox__inner -->
        </div>
        <!--/ Icon box element / Circle shaped, title & content right aligned -->
      </div>
      <!--/ col-sm-12 col-md-12 col-lg-4 -->
    </div>
    <!--/ row -->
  </div>


  {% endblock %}