{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}

{% block content %}


<div id="slider">


    <span class="mouse-anim-icon iz-mouse"></span>

    <div class="iz-container">
        <div class="container-fluid des-wrapper ">
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <div class="row">
                        <div class="col-6 font-heading text-left">
                            <div class="iz iz1 active">
                                <div class="iz-splash">

                                </div>


                                <div class="iz-arrow-white">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 25">
                                        <title>izu-arrow-hover</title>
                                        <g id="Layer_2" data-name="Layer 2">
                                            <g id="Layer_1-2" data-name="Layer 1">
                                                <polygon points="0 0 20 0 10 25 0 0"/>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                                <div class="text-truncate">HÀ ĐÔ CENTROSA GARDEN</div>
                                <div class="text-truncate">
                                    Quận 10
                                </div>


                                <div class="iz-overlay">
                                    <div class="iz-overlay-label-sha"></div>
                                    <div class="iz-overlay-label">
                                        Từ 60tr/m2
                                    </div>
                                    <img src="images/iz-1.png" class="img-fluid" alt="">

                                    <div class="iz-svg-line">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 204">
                                            <title>Asset 1</title>
                                            <g id="Layer_2" data-name="Layer 2">
                                                <g id="Layer_1-2" data-name="Layer 1">
                                                    <polygon points="12 0 0 35 0 198 12 204 12 0"/>
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                </div>

                            </div>


                        </div>
                        <div class="col-6 font-heading text-left">
                            <div class="iz iz2 ">
                                <div class="iz-splash">

                                </div>

                                <div class="iz-arrow-white">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 25">
                                        <title>izu-arrow-hover</title>
                                        <g id="Layer_2" data-name="Layer 2">
                                            <g id="Layer_1-2" data-name="Layer 1">
                                                <polygon points="0 0 20 0 10 25 0 0"/>
                                            </g>
                                        </g>
                                    </svg>
                                </div>


                                <div class="text-truncate">Gem RiverSide</div>
                                <div class="text-truncate">
                                    Quận 2
                                </div>

                                <div class="iz-overlay">
                                    <div class="iz-overlay-label-sha"></div>
                                    <div class="iz-overlay-label">
                                        Từ 60tr/m2
                                    </div>
                                    <img src="images/iz-1.png" class="img-fluid" alt="">

                                    <div class="iz-svg-line">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 204">
                                            <title>Asset 1</title>
                                            <g id="Layer_2" data-name="Layer 2">
                                                <g id="Layer_1-2" data-name="Layer 1">
                                                    <polygon points="12 0 0 35 0 198 12 204 12 0"/>
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6">

                    <div class="swiper-container iz-date-swiper">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="iz-date-bg">
                                    <a href="" class="link-absolute"></a>
                                    <div class="row no-gutters">
                                        <div class="col-12 col-md-auto">
                                            <div class="iz-date">
                                                09/09/2018
                                            </div>
                                        </div>
                                        <div class="col-12 col-md">
                                            <div class="iz-date-text">
                                                Golden Land chính thức phân phối Dự Án Gem Riverside ...
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="swiper-slide">
                                <div class="iz-date-bg">
                                    <a href="" class="link-absolute"></a>
                                    <div class="row no-gutters">
                                        <div class="col-12 col-md-auto">
                                            <div class="iz-date">
                                                12/09/2018
                                            </div>
                                        </div>
                                        <div class="col-12 col-md">
                                            <div class="iz-date-text">
                                                Tin tức cập nhập mới ...
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>


                </div>
            </div>
        </div>


    </div>


    <div class="iz-house animated" data-animate="fadeInUp" data-delay="1.25">
        <div class="iz-house-title">
            TÌM DỰ ÁN
        </div>

        <div class="iz-house-s">
            <input type="text" class="form-control border-0 form-control-sm" placeholder="Tên dự án ...">
        </div>

        <div class="iz-house-choose">
            <div class="row align-items-center ">
                <div class="col-auto iz-house-choose-txt">Khu vực</div>
                <div class="col">
                    <select name="" id="" class="form-control iz-house-choose-select border-0 form-control-sm">
                        <option value="Quận 2">Quận 2</option>
                        <option value="Quận 2">Quận</option>
                        <option value="Quận 2">Quận</option>
                        <option value="Quận 2">Quận</option>
                    </select>
                </div>
            </div>
        </div>


        <div class="iz-house-choose iz-house-choose-2">
            <div class="row align-items-center ">
                <div class="col-auto iz-house-choose-txt">Loại hình</div>
                <div class="col">
                    <select name="" id="" class="form-control iz-house-choose-select border-0 form-control-sm">
                        <option value="Quận 2">Chung cư cao cấp</option>
                        <option value="Quận 2">Chung cư cao cấp</option>
                        <option value="Quận 2">Chung cư cao cấp</option>
                        <option value="Quận 2">Chung cư cao cấp</option>
                    </select>
                </div>
            </div>
        </div>


        <div class="iz-house-submit">
            <a href="" class="btn btn-light ">
                <i class="fas fa-search"></i>
                TÌM KIẾM NGAY</a>
        </div>

    </div>

    <div class="hmm-wave-container">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="hmm-wave">
            <path id="wave" d=""/>
        </svg>

        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="hmm-wave">
            <path id="wave2" d=""/>
        </svg>

    </div>


</div>


<section class="project-f">

    <h2 class="project-f-head font-weight-bold h1  ">
        <span class="animated" data-animate="fadeInUp" data-delay=".3">
            DỰ ÁN NỔI BẬT
        </span>
    </h2>

    <div class="container-fluid project-f-slider-mt animated " data-animate="fadeInUp" data-delay=".3">
        <div class="project-f-slider-container swiper-container">
            <div class="project-f-slider swiper-wrapper">
                <div class="swiper-slide">
                    <div class="project-f-item">

                        <a href="" class="link-absolute"></a>

                        <div class="embed-responsive embed-responsive-project project-f-embed">
                            <div class="project-f-bg" Tstyle="background: url('images/des/f-1.jpg')">
                            </div>
                            <div class="project-f-inside">
                                <div class="project-f-img">
                                    <img src="images/des/f-1.jpg" class="img-fluid w-100" alt="">
                                </div>

                                <div class="project-f-name">
                                    <div class="content">
                                        <div class="text-nowrap">HÀ ĐÔ CENTROSA GARDEN</div>
                                        <div class="font-italic text-nowrap">Quận 10</div>
                                    </div>
                                </div>
                                <div class="project-f-price ">
                                    Giá từ : 2.7 tỷ/căn
                                </div>
                                <a href="" class="project-f-view font-heading shadow-sm">
                                    <span>
                                        XEM
                                    </span>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="project-f-item">
                        <a href="" class="link-absolute"></a>

                        <div class="embed-responsive embed-responsive-project project-f-embed">
                            <div class="project-f-bg" style="background: url('images/des/f-2.jpg')">
                            </div>
                            <div class="project-f-inside">
                                <div class="project-f-img">
                                    <img src="images/des/f-2.jpg" class="img-fluid w-100" alt="">
                                </div>


                                <div class="project-f-name">
                                    <div class="content">
                                        <div class="text-nowrap">GEM RIVERSIDE
                                        </div>
                                        <div class="font-italic text-nowrap">Quận 2</div>
                                    </div>
                                </div>
                                <div class="project-f-price ">
                                    Giá tham chiếu: 33 triệu/m2
                                </div>
                                <a href="" class="project-f-view font-heading shadow-sm">
                                    <span>
                                        XEM
                                    </span>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="project-f-item">

                        <a href="" class="link-absolute"></a>

                        <div class="embed-responsive embed-responsive-project project-f-embed">
                            <div class="project-f-bg" style="background: url('images/des/f-3.jpg')">
                            </div>
                            <div class="project-f-inside">
                                <div class="project-f-img">
                                    <img src="images/des/f-3.jpg" class="img-fluid w-100" alt="">
                                </div>

                                <div class="project-f-name">
                                    <div class="content">
                                        <div class="text-nowrap">VINHOMES CENTRAL PARK
                                        </div>
                                        <div class="font-italic text-nowrap"> Bình Thạnh</div>
                                    </div>
                                </div>
                                <div class="project-f-price ">
                                    Giá từ : 2.1 tỷ/căn
                                </div>
                                <a href="" class="project-f-view font-heading shadow-sm">
                                    <span>
                                        XEM
                                    </span>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="swiper-slide">


                    <div class="project-f-item">

                        <a href="" class="link-absolute"></a>

                        <div class="embed-responsive embed-responsive-project project-f-embed">
                            <div class="project-f-bg" style="background: url('images/des/f-3.jpg')">
                            </div>
                            <div class="project-f-inside">
                                <div class="project-f-img">
                                    <img src="images/des/f-3.jpg" class="img-fluid w-100" alt="">
                                </div>

                                <div class="project-f-name">
                                    <div class="content">
                                        <div class="text-nowrap">VINHOMES CENTRAL PARK
                                        </div>
                                        <div class="font-italic text-nowrap"> Bình Thạnh</div>
                                    </div>
                                </div>
                                <div class="project-f-price ">
                                    Giá từ : 2.1 tỷ/căn
                                </div>
                                <a href="" class="project-f-view font-heading shadow-sm">
                                    <span>
                                        XEM
                                    </span>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>


            </div>

            <div class="project-f-nav">
                <!-- Add Arrows -->
                <div class="project-f-prev project-f-btn">
                    <i class="fas fa-chevron-left"></i>
                </div>

                <div class="project-f-next project-f-btn">
                    <i class="fas fa-chevron-right"></i>
                </div>

            </div>


        </div>


    </div>

</section>


<section class="news-f">
    <h2 class="news-f-title text-center font-weight-bold h1 mb-4">
        <span class="animated" data-animate="fadeInUp" data-delay=".3">
            TIN TỨC & SỰ KIỆN
        </span>
    </h2>
    <div class="news-f-container animated" data-animate="fadeInUp" data-delay=".3">
        <div class="container">
            <div class="news-f-gradient">
                <div class="news-f-in">
                    <div class="swiper-container news-f-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide news-f-slide ">
                                <a href="" class="link-absolute"></a>
                                <div class="embed-responsive embed-responsive-news">
                                    <img src="images/des/news-1.jpg" class="embed-responsive-img" alt="">
                                    <div class="new-f-xem">
                                        <span>
                                            XEM
                                        </span>
                                    </div>
                                    <div class="news-f-date">
                                        09/08/2018
                                    </div>

                                </div>

                                <div class="embed-responsive embed-responsive-news">

                                    <div class="news-f-content">
                                        <h3>GOLDENLAND CHÍNH THỨC PHÂN PHỐI DỰ ÁN GEM RIVERSIDE
                                        </h3>

                                        <div>
                                            Tập đoàn Đất Xanh group (DXG) là chủ đầu tư khu căn hộ Gem Riverside đã
                                            chọn Golden Land làm đại lý chính thức phân phối
                                            dự án Lễ ký kết hợp tác phân phối dự án của chủ đầu tư DXG với Golden Land
                                            và
                                            các đơn vị phân phối của dự án diễn ra
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="swiper-slide news-f-slide ">
                                <a href="" class="link-absolute"></a>

                                <div class="embed-responsive embed-responsive-news">

                                    <div class="news-f-content">
                                        <h3>GOLDENLAND CHÍNH THỨC PHÂN PHỐI DỰ ÁN GEM RIVERSIDE
                                        </h3>

                                        <div>
                                            Tập đoàn Đất Xanh group (DXG) là chủ đầu tư khu căn hộ Gem Riverside đã
                                            chọn Golden Land làm đại lý chính thức phân phối
                                            dự án Lễ ký kết hợp tác phân phối dự án của chủ đầu tư DXG với Golden Land
                                            và
                                            các đơn vị phân phối của dự án diễn ra
                                        </div>
                                    </div>

                                </div>


                                <div class="embed-responsive embed-responsive-news">
                                    <img src="images/des/news-1.jpg" class="embed-responsive-img" alt="">
                                    <div class="new-f-xem">
                                        <span>
                                            XEM
                                        </span>
                                    </div>
                                    <div class="news-f-date second">
                                        09/08/2018
                                    </div>

                                </div>


                            </div>

                            <div class="swiper-slide news-f-slide ">
                                <a href="" class="link-absolute"></a>
                                <div class="embed-responsive embed-responsive-news">
                                    <img src="images/des/news-1.jpg" class="embed-responsive-img" alt="">
                                    <div class="new-f-xem">
                                        <span>
                                            XEM
                                        </span>
                                    </div>
                                    <div class="news-f-date">
                                        09/08/2018
                                    </div>

                                </div>

                                <div class="embed-responsive embed-responsive-news">

                                    <div class="news-f-content">
                                        <h3>GOLDENLAND CHÍNH THỨC PHÂN PHỐI DỰ ÁN GEM RIVERSIDE
                                        </h3>

                                        <div>
                                            Tập đoàn Đất Xanh group (DXG) là chủ đầu tư khu căn hộ Gem Riverside đã
                                            chọn Golden Land làm đại lý chính thức phân phối
                                            dự án Lễ ký kết hợp tác phân phối dự án của chủ đầu tư DXG với Golden Land
                                            và
                                            các đơn vị phân phối của dự án diễn ra
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="swiper-slide news-f-slide ">
                                <a href="" class="link-absolute"></a>

                                <div class="embed-responsive embed-responsive-news">

                                    <div class="news-f-content">
                                        <h3>GOLDENLAND CHÍNH THỨC PHÂN PHỐI DỰ ÁN GEM RIVERSIDE
                                        </h3>

                                        <div>
                                            Tập đoàn Đất Xanh group (DXG) là chủ đầu tư khu căn hộ Gem Riverside đã
                                            chọn Golden Land làm đại lý chính thức phân phối
                                            dự án Lễ ký kết hợp tác phân phối dự án của chủ đầu tư DXG với Golden Land
                                            và
                                            các đơn vị phân phối của dự án diễn ra
                                        </div>
                                    </div>

                                </div>


                                <div class="embed-responsive embed-responsive-news">
                                    <img src="images/des/news-1.jpg" class="embed-responsive-img" alt="">
                                    <div class="new-f-xem">
                                        <span>
                                            XEM
                                        </span>
                                    </div>
                                    <div class="news-f-date second">
                                        09/08/2018
                                    </div>

                                </div>


                            </div>
                        </div>

                        <!-- Add Pagination -->
                        <div class="swiper-pagination swiper-pagination-white "></div>


                    </div>

                </div>
            </div>
        </div>

        <div class="project-f-prev project-f-btn news-f-prev">
            <i class="fas fa-chevron-left"></i>
        </div>

        <div class="project-f-next project-f-btn news-f-next">
            <i class="fas fa-chevron-right"></i>
        </div>
    </div>


</section>


<div class="subscribed">
    <div class="container-fluid">
        <div class="row title">
            <div class="col-lg-4 d-none d-lg-block left-block">
                <div class="row-inline float-left"></div>
            </div>
            <div class="col-lg-4 col-xs-12 middle-block">
                <h2 class="h1 font-weight-bold animated" data-animate="fadeInUp" data-delay=".3">ĐĂNG KÝ NHẬN TIN
                    MỚI</h2>
            </div>
            <div class="col-lg-4 d-none d-lg-block right-block">
                <div class="row-inline float-right"></div>
            </div>
        </div>
        <div class="row content">
            <div class="col-lg-4 offset-lg-4">
                <form class="content-info animated" data-animate="fadeInUp" data-delay=".3">
                    <div class="form-group ">
                        <input class="form-control form-control-lg" placeholder="Họ và tên"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-lg" placeholder="Số điện thoại"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-lg" placeholder="Email"/>
                    </div>
                </form>
            </div>
        </div>
        <div class="row footer">
            <div class="col-12 animated" data-animate="fadeInUp" data-delay=".3">
                <button class="btn-subscribed " type="submit">
                    <span class="title-subscribed font-weight-bold">ĐĂNG KÝ NGAY</span>
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}