{% extends 'layouts/application.html' %} {% import 'macros/helpers.html' as macro %} {% block content %}

<section class="lienhe-title" style="background-image: url(images/lienhe/lienhe-bg.jpg)">
  <div class="container">
    <h2 class="text-center h1 mb-0 font-weight-bold lienhe-title-name"><span>
        LIÊN HỆ
    </span></h2>


  </div>
</section>

<section class="lienhe-subbua">

  <h2 class="lienhe-subbua-head font-weight-bold h1  ">
    <span class="animated fadeInUp" data-animate="fadeInUp" data-delay=".3" style="visibility: visible; animation-delay: 0.3s;">
      THÔNG TIN
    </span>
  </h2>
</section>


<div class="lienhe-info" style="background-image: url(images/lienhe/lienhe-info-bg.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2 lienhe-info-box-content">

        <div class="lienhe-info-box">
          <div class="lienhe-info-box-content">
            <div class="text-center lienhe-info-logo">
              <img src="images/logo-goldenland.png" width="150" class="img-fluid d-block mx-auto" alt="">
            </div>

            <div class="text-center mb-2 mb-lg-4">
              <h3>CÔNG TY CỔ PHẦN BĐS GOLDEN LAND</h3>
              <div class="row no-gutters justify-content-center align-items-center">
                <div class="col-auto">
                  <i class="fas fa-map-marker-alt fa-2x"></i>
                </div>
                <div class="col-auto text-danger">
                  <div class="ml-2">
                    Lầu 6, tòa nhà 293 Điện Biên Phủ, <br>
                    Phường 15, Q.Bình Thạnh, Tp HCM.
                  </div>
                </div>
              </div>
            </div>

            <div>
              <div class="row no-gutters">
                <div class="col-12 col-sm-6 lienhe-bor-right">
                  <div class="row no-gutters align-items-center justify-content-center">
                    <div class="col-auto">
                      <i class="fas fa-mobile-alt fa-lg mr-2"></i>
                    </div>
                    <div class="col-auto text-danger">
                      <strong> Hotline:</strong> <a class="text-danger" href="tel: 0901 867 869">0901 867 869</a>
                    </div>
                  </div>
                </div>

                <div class="col-12 col-sm-6">
                  <div class="row no-gutters align-items-center justify-content-center">
                    <div class="col-auto">
                      <i class="fas fa-envelope-open-text fa-lg mr-2"></i>
                    </div>
                    <div class="col-auto text-danger">
                      <strong> Email:</strong> <a class="text-danger" href="mailto: info@goldenlands.vn">info@goldenlands.vn</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="lienhe-form-container">
  <div class="container">
    <div class="col-12 col-lg-10 offset-lg-1">
      <div class="lienhe-form ">

        <form novalidate="novalidate">

          <div class="form-group">
            <input type="text" name="name" class="form-control form-material" placeholder="HỌ VÀ TÊN" value="" tabindex="1">
          </div>

          <div class="form-group">
            <input type="text" name="name" class="form-control form-material" placeholder="ĐỊA CHỈ" value="" tabindex="1">
          </div>
          <div class="form-group">
            <input type="text" name="name" class="form-control form-material" placeholder="ĐIỆN THOẠI" value=""
              tabindex="1">
          </div>

          <div class="form-group">
            <input type="email" name="name" class="form-control form-material" placeholder="EMAIL" value="" tabindex="1">
          </div>

          <div class="form-group">
            <label for="">NỘI DUNG</label>
            <textarea class="form-control form-material" id="" rows="3"></textarea>
          </div>


          <div class="col-sm-12 text-center mt-2">
            <!-- Contact form send button -->
            <a href="#" target="_self" class="btn-element btn btn-fullcolor btn-skewed" title="GỬI THÔNG TIN">
              <span>GỬI THÔNG TIN</span>
            </a>
          </div>
        </form>





      </div>
    </div>
  </div>
</div>


<div class="lienhe-map">

  <!-- Google map element with custom height -->
  <div class="kl-slideshow static-content__slideshow scontent__maps" style="height: 450px;">
    <!-- Google map element wrapper -->
    <div class="th-google_map" style="height: 450px;"></div>
    <!--/ Google map element wrapper -->

  </div>
  <!--/ Google map element with custom height -->

</div>

{% endblock %}