{% extends 'layouts/application.html' %} {% import 'macros/helpers.html' as macro %} {% set footer = "none" %} {% block
content
%}



<section class="lienhe-title project-title d-block d-md-none" style="background-image: url(images/duan-mobile-title.jpg)">
  <div class="container">
    <h2 class="text-center h1 mb-0 font-weight-bold lienhe-title-name"><span>
        DỰ ÁN
      </span></h2>


    <div class="project-search-container">


      <div class="phonecall-ring"></div>
      <div class="phonecall-ring-circle"></div>

      <div class="project-search" data-toggle="modal" data-target="#modalSearchProject">
        <div>
          <img src="images/des/icon-search.png" class="img-fluid d-block mx-auto" alt="" width="34">
          <div>
            TÌM KIẾM
          </div>
        </div>

      </div>
    </div>

  </div>
</section>





<div class="project-wrapper clearfix">
 
  <div class="project-onmobile d-block d-md-none">
      {% for item in range(0,3) %}
    <div class="project-item-mobile">

      <div class="project-overlay-name">
        <div class="name  mb-0">CHARMINGTON IRIS</div>
        <div class="">Quận 4</div>
      </div>


      <div class="project-item-mobile-sub">
        Charmington Iris là tâm điểm kết nối 4 quận (Quận 1, Quận 2, Quận 5, Quận 7) nhờ vị trí “đắt xắt ra
        miếng” ngay mặt tiền
        đường Tôn Thích Thuyết, Quận 4 – khu downtown mới của Sài Gòn, nơi hội tụ của những người thành
        đạt.
      </div>

      <div class="project-overlay-name price ">
          <div class="sub">Giá từ 55tr/m<sup>2</sup></div>
        </div>

      <a href="" class="button-xem font-heading shadow-sm">
          <span>
            XEM
          </span>
        </a>

      <a href="" class="link-absolute"></a>
      <div class="embed-responsive embed-responsive-16by9">
        <img src="images/project/project1.jpg" class="embed-responsive-img" alt="">
      </div>


      <div class="embed-responsive embed-responsive-16by9">
        <img src="images/project/project2.jpg" class="embed-responsive-img" alt="">
      </div>
    </div>

    {% endfor %}


    <div class="project-f-nav">
        <!-- Add Arrows -->
        <div class="project-f-prev project-f-btn">
            <i class="fas fa-chevron-left"></i>
        </div>

        <div class="project-f-next project-f-btn">
            <i class="fas fa-chevron-right"></i>
        </div>

    </div>




  </div>



  <div class="project-slider-container">

    <div class="project-f-prev project-f-btn project-prev">
      <i class="fas fa-chevron-left"></i>
    </div>

    <div class="project-f-next project-f-btn project-next">
      <i class="fas fa-chevron-right"></i>
    </div>


    <div class="project-search-container">


      <div class="phonecall-ring"></div>
      <div class="phonecall-ring-circle"></div>

      <div class="project-search" data-toggle="modal" data-target="#modalSearchProject">
        <div>
          <img src="images/des/icon-search.png" class="img-fluid d-block mx-auto" alt="" width="34">
          <div>
            TÌM KIẾM
          </div>
        </div>

      </div>
    </div>

    <div class="project-slider-swiper swiper-container">
      <div class="swiper-wrapper">
        {% for item in range(0,2) %}
        <div class="swiper-slide">
          <div class="project-slider ">

            <div class="project-line">

            </div>

            <div class="project-line vertical">

            </div>


            <div class="project-item" style="background-image: url('images/project/project1.jpg')">
              <a href="" class="link-absolute"></a>

              <div class="project-hover" style="background-image: url('images/project/project1.jpg')">
                <div class="project-hover-content">
                  <div class="project-overlay-name">
                    <div class="name  mb-0">CHARMINGTON IRIS</div>
                    <div class="">Quận 4</div>
                  </div>

                  <div>
                    Charmington Iris là tâm điểm kết nối 4 quận (Quận 1, Quận 2, Quận 5, Quận 7) nhờ vị trí “đắt xắt ra
                    miếng” ngay mặt tiền
                    đường Tôn Thích Thuyết, Quận 4 – khu downtown mới của Sài Gòn, nơi hội tụ của những người thành
                    đạt.
                  </div>

                  <a href="" class="button-xem font-heading shadow-sm">
                    <span>
                      XEM
                    </span>
                  </a>

                </div>
              </div>

              <div class="project-overlay again">
                <div class="project-overlay-name ">
                  <div class="sub">Giá từ 55tr/m<sup>2</sup></div>
                </div>
              </div>
              <div class="project-overlay">

                <div class="project-overlay-name">
                  <div class="name">CHARMINGTON IRIS</div>
                  <div class="sub">Quận 4</div>
                </div>
                <div class="project-overlay-image" style="background-image: url('images/project/project2.jpg')">

                </div>
              </div>




            </div>

            <div class="project-item project-item-right" style="background-image: url('images/project/project5.jpg')">
              <a href="" class="link-absolute"></a>

              <div class="project-hover" style="background-image: url('images/project/project1.jpg')">
                <div class="project-hover-content">
                  <div class="project-overlay-name">
                    <div class="name mb-0">CHARMINGTON IRIS</div>
                    <div class="">Quận 4</div>
                  </div>

                  <div>
                    Charmington Iris là tâm điểm kết nối 4 quận (Quận 1, Quận 2, Quận 5, Quận 7) nhờ vị trí “đắt xắt ra
                    miếng” ngay mặt tiền
                    đường Tôn Thích Thuyết, Quận 4 – khu downtown mới của Sài Gòn, nơi hội tụ của những người thành
                    đạt.
                  </div>

                  <a href="" class="button-xem font-heading shadow-sm">
                    <span>
                      XEM
                    </span>
                  </a>

                </div>
              </div>


              <div class="project-overlay again">
                <div class="project-overlay-name ">
                  <div class="sub">Giá từ 55tr/m<sup>2</sup></div>
                </div>
              </div>
              <div class="project-overlay">

                <div class="project-overlay-name">
                  <div class="name">GEM RIVERSIDE</div>
                  <div class="sub">Quận 2</div>
                </div>
                <div class="project-overlay-image" style="background-image: url('images/project/project6.jpg')">

                </div>
              </div>




            </div>

            <div class="project-item project-item-left-bottom" style="background-image: url('images/project/project1.jpg')">
              <a href="" class="link-absolute"></a>

              <div class="project-hover" style="background-image: url('images/project/project1.jpg')">
                <div class="project-hover-content">
                  <div class="project-overlay-name">
                    <div class="name  mb-0">CHARMINGTON IRIS</div>
                    <div class="">Quận 4</div>
                  </div>

                  <div>
                    Charmington Iris là tâm điểm kết nối 4 quận (Quận 1, Quận 2, Quận 5, Quận 7) nhờ vị trí “đắt xắt ra
                    miếng” ngay mặt tiền
                    đường Tôn Thích Thuyết, Quận 4 – khu downtown mới của Sài Gòn, nơi hội tụ của những người thành
                    đạt.
                  </div>

                  <a href="" class="button-xem font-heading shadow-sm">
                    <span>
                      XEM
                    </span>
                  </a>

                </div>
              </div>
              <div class="project-overlay again">
                <div class="project-overlay-name ">
                  <div class="sub">Giá từ 55tr/m<sup>2</sup></div>
                </div>
              </div>
              <div class="project-overlay">

                <div class="project-overlay-name">
                  <div class="name">CHARMINGTON IRIS</div>
                  <div class="sub">Quận 4</div>
                </div>
                <div class="project-overlay-image" style="background-image: url('images/project/project2.jpg')">

                </div>
              </div>
            </div>


            <div class="project-item project-item-right project-item-right-bottom" style="background-image: url('images/project/project1.jpg')">
              <a href="" class="link-absolute"></a>

              <div class="project-hover" style="background-image: url('images/project/project1.jpg')">
                <div class="project-hover-content">
                  <div class="project-overlay-name">
                    <div class="name  mb-0">CHARMINGTON IRIS</div>
                    <div class="">Quận 4</div>
                  </div>

                  <div>
                    Charmington Iris là tâm điểm kết nối 4 quận (Quận 1, Quận 2, Quận 5, Quận 7) nhờ vị trí “đắt xắt ra
                    miếng” ngay mặt tiền
                    đường Tôn Thích Thuyết, Quận 4 – khu downtown mới của Sài Gòn, nơi hội tụ của những người thành
                    đạt.
                  </div>

                  <a href="" class="button-xem font-heading shadow-sm">
                    <span>
                      XEM
                    </span>
                  </a>

                </div>
              </div>
              <div class="project-overlay again">
                <div class="project-overlay-name ">
                  <div class="sub">Giá từ 55tr/m<sup>2</sup></div>
                </div>
              </div>
              <div class="project-overlay">

                <div class="project-overlay-name">
                  <div class="name">CHARMINGTON IRIS</div>
                  <div class="sub">Quận 4</div>
                </div>
                <div class="project-overlay-image" style="background-image: url('images/project/project2.jpg')">

                </div>
              </div>
            </div>
          </div>
        </div>

        {% endfor %}

      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade project-p-modal" id="modalSearchProject" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <div class="project-p-h">
          <div class="project-p-container">
            <div class="project-p">
              <div class="w-100">
                <img src="images/des/icon-search.png" class="img-fluid d-block mx-auto mb-3" alt="" width="44">
                <h2 class="mb-4">
                  TÌM KIẾM DỰ ÁN
                </h2>
                <form>
                  <div class="form-group">
                    <input class="form-control form-control-lg border-0" type="text" placeholder="Tên dự án">
                  </div>
                  <div class="form-group row align-items-center">
                    <label for="staticEmail" class="col-sm-4  h5 mb-0">KHU VỰC</label>
                    <div class="col-sm-8">
                      <select class="form-control  border-0">
                        <option>TP HCM</option>
                        <option>HÀ NỘI</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row align-items-center">
                    <label for="inputPassword" class="col-sm-4 l h5 mb-0">LOẠI HÌNH</label>
                    <div class="col-sm-8">
                      <select class="form-control  border-0">
                        <option>Nhà đất</option>
                        <option>Chung cư</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group mt-4 text-center">
                    <a href="" class="btn btn-light font-weight-bold text-danger project-s-btn  ">
                      <i class="fas fa-search"></i>
                      TÌM KIẾM NGAY</a>
                  </div>

                </form>
              </div>

            </div>
          </div>
        </div>



      </div>

    </div>
  </div>
</div>



<div class="hero-footer hero-footer-duan">

  <div class="hero-footer-copyright">
    <div class="row align-items-center justify-content-center">
      2018 © GOLDEN LAND. ALL RIGHTS RESERVED
      <div class="col-auto">
        <ul class="list-inline text-white">
          <li class="list-inline-item">
            <a href="" class="text-white"><strong>EN</strong></a>
          </li>
          <li class="list-inline-item">
            <a href="" class="text-white"><i class="fab fa-facebook-f"></i></a>
          </li>

          <li class="list-inline-item">
            <a href="" class="text-white"><i class="fab fa-youtube"></i></a>
          </li>
        </ul>
      </div>
    </div>


  </div>
</div>

{% endblock %}