{% extends 'layouts/application.html' %} {% import 'macros/helpers.html' as macro %} {% block content %}


<section class="lienhe-title" style="background-image: url('images/tintuc/top-banner02.jpg')">
  <div class="container">
    <h2 class="text-center h1 mb-0 font-weight-bold lienhe-title-name">
      <span>RAO VẶT</span>
    </h2>
    <div class="project-search-raovat">
      <div class="project-search-container ">


        <div class="phonecall-ring"></div>
        <div class="phonecall-ring-circle"></div>

        <div class="project-search" data-toggle="modal" data-target="#modalSearchDuan">
          <div>
            <img src="images/des/icon-search.png" class="img-fluid d-block mx-auto" alt="" width="34">
            <div>
              TÌM KIẾM
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</section>


<div class="tintuc-main">



  <div class="raovat-search">

    <div class="row justify-content-center">
      <div class="col-auto raovat-search-bg raovat-search-1">
        <div class="row tiny-gutters align-items-center">
          <div class="col-auto">
            <input type="text" class="form-control border-0" placeholder="Tên dự án">
          </div>
          <div class="col-auto">

            <select class="selectpicker bg-white" data-width="auto">
              <option>Quận 2</option>
              <option>Cần mua</option>
              <option>Cần thuê</option>
              <option>Tìm dự án</option>
            </select>

          </div>
          <div class="col-auto">
            <select class="selectpicker" multiple data-width="auto">
              <option selected>Căn hộ</option>
              <option>Nhà riêng</option>
              <option>Nhà phố</option>
              <option>Villa</option>


              <option>Căn hộ</option>
              <option>Nhà riêng</option>
              <option>Nhà phố</option>
              <option>Villa</option>

              <option>Căn hộ</option>
              <option>Nhà riêng</option>
              <option>Nhà phố</option>
              <option>Villa</option>
            </select>

          </div>
          <div class="col-auto">
            <div class="dropdown">
              <button class="btn btn-light dropdown-toggle" type="button" id="raovatPrice" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Mọi giá
              </button>
              <div class="dropdown-menu raovat-filter-price" aria-labelledby="raovatPrice">
                <form class="px-3">
                  <div class="row no-gutters flex-nowrap">
                    <div class="col-6">
                      <select class="form-control mr-1 border">
                        <option value="">Giá thấp nhất</option>
                        <option value="">1</option>
                        <option value="">1</option>
                        <option value="">1</option>
                      </select>
                    </div>
                    <div class="col-6">
                      <select class="form-control ml-1 border">
                        <option value="">Giá cao nhất</option>
                        <option value="">1</option>
                        <option value="">1</option>
                        <option value="">1</option>
                      </select>
                    </div>
                  </div>



                </form>

              </div>
            </div>
          </div>


          <div class="col-auto">
            <select class="selectpicker bg-white" data-width="auto">
              <option>1 Phòng ngủ</option>
              <option>Cần mua</option>
              <option>Cần thuê</option>
              <option>Tìm dự án</option>
            </select>
          </div>

          <div class="col-auto">
            <a href="" class="d-block ml-3 mr-3">
              <img class="img-fluid mx-auto menu-detail-icon" src="images/tintuc/icon-search.png" width="30" alt=""></a>
          </div>




        </div>
      </div>

    </div>



  </div>

  <br>

  <div class="container clearfix">
    <div class="gridPhotoGallery-container">
      <div class="gridPhotoGallery mfp-gallery misc gridPhotoGallery--ratio-square gridPhotoGallery--cols-4" data-cols="4">
        <!-- Grid photo gallery size helper -->
        <div class="gridPhotoGallery__item gridPhotoGallery__item--sizer">
        </div>
        <!--/ Grid photo gallery size helper -->

        <!-- Item #1 width style 2 & height style 2 -->
        <div class="gridPhotoGallery__item gridPhotoGalleryItem--w2">
          <p class="raovat-detail--date mb-0 position-absolute">
            ₫ <strong>1.7 tỷ</strong>
          </p>
          <!-- Pop-up image + Link & Background image -->
          <a class="gridPhotoGalleryItem--h2 gridPhotoGallery__link " data-lightbox="mfp" data-mfp="image" href="images/banner/banner1.jpg">
            <!-- Background image -->
            <div class="gridPhotoGallery__img" style="background-image: url(images/banner/banner1.jpg)">
            </div>
            <!--/ Background image -->

          </a>
          <!--/ Pop-up image + Link & Background image -->
        </div>
        <!--/ Item #1 width style 2 & height style 2 -->

        <!-- Item #4 width style 2 & height style 1 -->
        <div class="gridPhotoGallery__item gridPhotoGalleryItem--w2">
          <!-- Pop-up image + Link & Background image -->
          <a class="gridPhotoGalleryItem--h1 gridPhotoGallery__link " data-lightbox="mfp" data-mfp="image" href="images/banner/banner2.jpg">
            <!-- Background image -->
            <div class="gridPhotoGallery__img" style="background-image: url(images/banner/banner2.jpg)">
            </div>
            <!--/ Background image -->


          </a>
          <!--/ Pop-up image + Link & Background image -->
        </div>
        <!--/ Item #4 width style 2 & height style 1 -->

        <!-- Item #4 width style 2 & height style 1 -->
        <div class="gridPhotoGallery__item gridPhotoGalleryItem--w2">

          <a href="images/banner/banner1.jpg" data-lightbox="mfp" data-mfp="image" class="link-absolute grid-raovat-more">

            + 7 Hình ảnh

          </a>

          <a href="images/banner/banner2.jpg" data-lightbox="mfp" data-mfp="image" class="d-none">

          </a>



          <a href="images/banner/banner1.jpg" data-lightbox="mfp" data-mfp="image" class="d-none">

          </a>


          <a href="images/banner/banner2.jpg" data-lightbox="mfp" data-mfp="image" class="d-none">

          </a>


          <a href="images/banner/banner1.jpg" data-lightbox="mfp" data-mfp="image" class="d-none">

          </a>


          <!-- Pop-up image + Link & Background image -->
          <div class="gridPhotoGalleryItem--h1 gridPhotoGallery__link ">
            <!-- Background image -->
            <div class="gridPhotoGallery__img" style="background-image: url(images/banner/banner1.jpg)">
            </div>
            <!--/ Background image -->


          </div>
          <!--/ Pop-up image + Link & Background image -->
        </div>
        <!--/ Item #4 width style 2 & height style 1 -->


      </div>
      <!--/ .gridPhotoGallery ratio-square cols-4 -->
    </div>
    <!--/ Grid Photo Gallery square ratio element container -->




  </div>

  <div class="container">
    <div class="col-sm-12 col-md-12 text-center raovat-trick ">

      <div class="d-inline-flex ">

        <div class="btn-element btn btn-fullcolor btn-skewed">
          <span>1</span>
          <div>
            Phòng ngủ
          </div>
        </div>
      </div>

      <div class="d-inline-flex ">
        <div class="btn-element btn btn-fullcolor btn-skewed">
          <span>1</span>
          <div>
            Phòng tắm
          </div>
        </div>
      </div>

      <div class="d-inline-flex ">
        <div class="btn-element btn btn-fullcolor btn-skewed">
          <span>51 m<sup>2</sup> </span>
          <div>
            Diện tích
          </div>
        </div>
      </div>


    </div>
  </div>


  <div class="container">
    <div class=" sc__features-row">
        <ul class="sc__features">
          <li>
            <img src="images/des/air-conditioner.png" width="20" /> Máy lạnh
          </li>

          <li>
            <img src="images/des/air-conditioner.png" width="20" /> Máy lạnh
          </li>

          <li>
            <img src="images/des/air-conditioner.png" width="20" /> Máy lạnh
          </li>

          <li>
            <img src="images/des/air-conditioner.png" width="20" /> Máy lạnh
          </li>

          <li>
            <img src="images/des/air-conditioner.png" width="20" /> Máy lạnh
          </li>
        </ul>
      </div>


  </div>


  <div class="container">
    <div class="tintuc-border">

      <div class="raovat-detail-author" style="bottom: -13px">
        <div class="row tiny-gutters">
          <div class="col-auto">
            <div class="item">
              <div>Đăng bởi <a href="" class="text-white text-underline"><u>nhanvienphutrach</u></a></div>
            </div>
          </div>

        </div>
      </div>

      <ul class="tintuc-social list-inline">
        <li class="list-inline-item">
          <span>
            Chia sẽ
          </span>
        </li>
        <li class="list-inline-item">
          <a href=""> <i class="fab fa-facebook-f"></i> </a>
        </li>

        <li class="list-inline-item">
          <a href=""> <i class="fab fa-google-plus-g"></i> </a>
        </li>

      </ul>

      <h1 class="tintuc-title h3 font-weight-bold text-center">
        GOLDEN LAND CHÍNH THỨC PHÂN PHỐI DỰ ÁN GEM RIVERSIDE

        <div class=" text-center h5 text-dark mt-3 mb-0">
          <i class="fa fa-map-marker-alt"></i> Quận 2, TP Hồ Chí Minh
        </div>

      </h1>

      <div>

      </div>


      <p>
        Lễ ký kết hợp tác phân phối dự án của chủ đầu tư DXG với Golden Land và các đơn vị phân phối của dự án diễn ra
        vào chiều
        ngày 29/01/2018 tại nhà hàng ADORA thu hút hơn 3000 chuyên viên kinh doanh tham dự.
      </p>

      <div class="text-right">
        <a href="" class="text-danger text-underline">Theo báo Tiền Phong</a>
      </div>
    </div>

  </div>
</div>


<div class="lienhe-form-container  lienhe-raovat" style="background-image: url(images/lienhe/lienhe-info-bg.jpg)">
  <div class="container">
    <div class="col-12 col-lg-10 offset-lg-1">
      <div class="lienhe-form ">

        <form novalidate="novalidate">

          <div class="form-group">
            <input type="text" name="name" class="form-control form-material" placeholder="HỌ VÀ TÊN" value="" tabindex="1">
          </div>

          <div class="form-group">
            <input type="text" name="name" class="form-control form-material" placeholder="ĐỊA CHỈ" value="" tabindex="1">
          </div>
          <div class="form-group">
            <input type="text" name="name" class="form-control form-material" placeholder="ĐIỆN THOẠI" value=""
              tabindex="1">
          </div>

          <div class="form-group">
            <input type="email" name="name" class="form-control form-material" placeholder="EMAIL" value="" tabindex="1">
          </div>

          <div class="form-group">
            <label for="">NỘI DUNG</label>
            <textarea class="form-control form-material" id="" rows="3"></textarea>
          </div>


          <div class="col-sm-12 text-center mt-2">
            <!-- Contact form send button -->
            <a href="#" target="_self" class="btn-element btn btn-fullcolor btn-skewed" title="GỬI THÔNG TIN">
              <span>GỬI THÔNG TIN</span>
            </a>
          </div>
        </form>





      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade project-p-modal" id="modalSearchDuan" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">





      <div class="modal-body">
        <div class="project-p-h">
          <h3 class="project-p-container">
            <div class="project-p">
              <div class="w-100">
                <img src="images/des/icon-search.png" class="img-fluid d-block mx-auto mb-3" alt="" width="44">
                <h2 class="mb-4">
                  TÌM KIẾM DỰ ÁN
                </h2>
                <form>
                  <div class="form-group">
                    <input type="text" class="form-control border-0" placeholder="Tên dự án">
                  </div>

                  <div class="form-group  align-items-center">
                    <select class="selectpicker bg-white" data-width="100%">
                      <option>Quận 2</option>
                      <option>Cần mua</option>
                      <option>Cần thuê</option>
                      <option>Tìm dự án</option>
                    </select>
                  </div>


                  <div class="form-group  align-items-center">
                    <select class="selectpicker" multiple data-width="100%">
                      <option selected>Căn hộ</option>
                      <option>Nhà riêng</option>
                      <option>Nhà phố</option>
                      <option>Villa</option>


                      <option>Căn hộ</option>
                      <option>Nhà riêng</option>
                      <option>Nhà phố</option>
                      <option>Villa</option>

                      <option>Căn hộ</option>
                      <option>Nhà riêng</option>
                      <option>Nhà phố</option>
                      <option>Villa</option>
                    </select>
                  </div>


                  <div class="form-group  align-items-center">
                    <hr class="bg-white">
                    <h3 class="text-center text-white">
                      Khung giá
                    </h3>

                    <div>
                      <input id="range_03" />
                    </div>
                    <hr class="bg-white">
                  </div>

                  <div class="form-group  align-items-center">
                    <select class="selectpicker bg-white" data-width="100%">
                      <option>1 Phòng ngủ</option>
                      <option>Cần mua</option>
                      <option>Cần thuê</option>
                      <option>Tìm dự án</option>
                    </select>
                  </div>

                  <div class="form-group mt-4 text-center">
                    <a href="" class="btn btn-light font-weight-bold text-danger project-s-btn  ">
                      <i class="fas fa-search"></i>
                      TÌM KIẾM NGAY</a>
                  </div>

                </form>
              </div>

            </div>
        </div>
      </div>



    </div>

  </div>
</div>
</div>



{% endblock %}