{% extends 'layouts/application.html' %} {% import 'macros/helpers.html' as macro %} {% block content %}


<section class="lienhe-title" style="background-image: url('images/tintuc/top-banner02.jpg')">
  <div class="container">
    <h2 class="text-center h1 mb-0 font-weight-bold lienhe-title-name">
      <span>RAO VẶT</span>
    </h2>
    <div class="project-search-raovat">
      <div class="project-search-container ">


        <div class="phonecall-ring"></div>
        <div class="phonecall-ring-circle"></div>

        <div class="project-search" data-toggle="modal" data-target="#modalSearchDuan">
          <div>
            <img src="images/des/icon-search.png" class="img-fluid d-block mx-auto" alt="" width="34">
            <div>
              TÌM KIẾM
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</section>


<div class="tintuc-main">



  <div class="raovat-search">



    <div class="row justify-content-center">
      <div class="col-auto raovat-search-bg raovat-search-1">
        <div class="row tiny-gutters align-items-center">
          <div class="col-auto">
            <input type="text" class="form-control border-0" placeholder="Tên dự án">
          </div>
          <div class="col-auto">

            <select class="selectpicker bg-white" data-width="auto">
              <option>Quận 2</option>
              <option>Cần mua</option>
              <option>Cần thuê</option>
              <option>Tìm dự án</option>
            </select>

          </div>
          <div class="col-auto">
            <select class="selectpicker" multiple data-width="auto">
              <option selected>Căn hộ</option>
              <option>Nhà riêng</option>
              <option>Nhà phố</option>
              <option>Villa</option>


              <option>Căn hộ</option>
              <option>Nhà riêng</option>
              <option>Nhà phố</option>
              <option>Villa</option>

              <option>Căn hộ</option>
              <option>Nhà riêng</option>
              <option>Nhà phố</option>
              <option>Villa</option>
            </select>

          </div>
          <div class="col-auto">
            <div class="dropdown">
              <button class="btn btn-light dropdown-toggle" type="button" id="raovatPrice" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Mọi giá
              </button>
              <div class="dropdown-menu raovat-filter-price" aria-labelledby="raovatPrice">
                <form class="px-3">
                  <div class="row no-gutters flex-nowrap">
                    <div class="col-6">
                      <select class="form-control mr-1 border">
                        <option value="">Giá thấp nhất</option>
                        <option value="">1</option>
                        <option value="">1</option>
                        <option value="">1</option>
                      </select>
                    </div>
                    <div class="col-6">
                      <select class="form-control ml-1 border">
                        <option value="">Giá cao nhất</option>
                        <option value="">1</option>
                        <option value="">1</option>
                        <option value="">1</option>
                      </select>
                    </div>
                  </div>



                </form>

              </div>
            </div>
          </div>


          <div class="col-auto">
            <select class="selectpicker bg-white" data-width="auto">
              <option>1 Phòng ngủ</option>
              <option>Cần mua</option>
              <option>Cần thuê</option>
              <option>Tìm dự án</option>
            </select>
          </div>

          <div class="col-auto">
            <a href="" class="d-block ml-3 mr-3">
              <img class="img-fluid mx-auto menu-detail-icon" src="images/tintuc/icon-search.png" width="30" alt=""></a>
          </div>




        </div>
      </div>
      <div class="col-auto raovat-search-bg raovat-search-2">

        <div class="row ">
          <div class="col-auto">
            <div class="d-flex align-items-center">
              <div class="text-white mr-2">
                Sắp xếp
              </div>
              <div>
                <select class="selectpicker bg-white" data-width="auto">
                  <option>Giá từ thấp đến cao</option>
                  <option>Cần mua</option>
                  <option>Cần thuê</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>


  <div class="raovat-list">
    <div class="container">
      <div class="row small-gutters">
        {% for item in range(0,5) %}
        <div class="col-12 col-md-6 ">
          <div class="raovat-detail">
            <a href="raovat-detail.html" class="link-absolute" target="_blank"></a>
            <p class="raovat-detail--date mb-0 position-absolute">
              ₫ <strong>1.7 tỷ</strong>
            </p>
            <div class="raovat-detail--block">
              <div class="row no-gutters">
                <div class="col-12 col-sm-5">
                  <div class="raovat-detail-left">
                    <div class="embed-responsive embed-responsive-4by3">
                      <img class="embed-responsive-img" src="images/tintuc/tintuc01.jpg" alt="">
                    </div>
                  </div>
                </div>

                <div class="col-12 col-sm-7">

                  <div class="raovat-detail-right">
                    <h3 class="raovat-detail-name">
                      Gem riverside từ khóa được tìm kiếm nhiều nhất Quận 2
                    </h3>

                    <div class="raovat-detail-location">
                      <i class="fa fa-map-marker-alt"></i> Quận 2, TP Hồ Chí Minh
                    </div>

                    <ul class="list-inline raovat-detail-list">
                      <li class="list-inline-item">
                        <i class="fa fa-bed"></i> 1
                      </li>

                      <li class="list-inline-item">
                        <i class="fa fa-bath"></i> 1
                      </li>

                      <li class="list-inline-item">
                        <i class="fa fa-expand"></i> 50 m<sup>2</sup>
                      </li>
                    </ul>


                    <div class="raovat-detail-content">
                      Bán hoặc thuê nhà kho & nhà máy tại Đức Hoà Đông, Đức Hòa, Long An
                      Cần bán nhà đất thương mại diện tích 1,600 m2 nằm tại Đức Hoà Đông, Đức Hòa.
                    </div>
                  </div>



                </div>


              </div>




            </div>

            <div class="raovat-detail-author">
              <div class="row tiny-gutters">
                <div class="col-auto">
                  <div class="item">
                    <div>Đăng bởi <a href="" class="text-white text-underline"><u>nhanvienphutrach</u></a></div>
                  </div>
                </div>
                <div class="col-auto">
                  <div class="item">
                    <div>
                      <a href="" data-toggle="modal" data-target="#modalEnvelope" class="text-white"><i class="fa fa-envelope"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

    </div>
  </div>

  <div class="raovat-pagination">
    <div class="pagination-nav">
      <ul class="pagination mt-0"><a class="previous_link no_more" href="">

        </a>
        <span class="ellipse less" style="display: none;">...</span>

        <a class="page_link first active_page" href="" longdesc="0" style="">1</a>
        <a class="page_link last" href="" longdesc="1" style="">2</a>

        <span class="ellipse more" style="display: none;">...</span>

        <a class="next_link" href=""></a>

      </ul>

    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade project-p-modal" id="modalSearchDuan" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">





      <div class="modal-body">
        <div class="project-p-h">
          <h3 class="project-p-container">
            <div class="project-p">
              <div class="w-100">
                <img src="images/des/icon-search.png" class="img-fluid d-block mx-auto mb-3" alt="" width="44">
                <h2 class="mb-4">
                  TÌM KIẾM DỰ ÁN
                </h2>
                <form>
                  <div class="form-group">
                    <input type="text" class="form-control border-0" placeholder="Tên dự án">
                  </div>

                  <div class="form-group  align-items-center">
                    <select class="selectpicker bg-white" data-width="100%">
                      <option>Quận 2</option>
                      <option>Cần mua</option>
                      <option>Cần thuê</option>
                      <option>Tìm dự án</option>
                    </select>
                  </div>


                  <div class="form-group  align-items-center">
                    <select class="selectpicker" multiple data-width="100%">
                      <option selected>Căn hộ</option>
                      <option>Nhà riêng</option>
                      <option>Nhà phố</option>
                      <option>Villa</option>


                      <option>Căn hộ</option>
                      <option>Nhà riêng</option>
                      <option>Nhà phố</option>
                      <option>Villa</option>

                      <option>Căn hộ</option>
                      <option>Nhà riêng</option>
                      <option>Nhà phố</option>
                      <option>Villa</option>
                    </select>
                  </div>


                  <div class="form-group  align-items-center">
                    <hr class="bg-white">
                    <h3 class="text-center text-white">
                      Khung giá
                    </h3>

                    <div>
                      <input id="range_03" />
                    </div>
                    <hr class="bg-white">
                  </div>

                  <div class="form-group  align-items-center">
                    <select class="selectpicker bg-white" data-width="100%">
                      <option>1 Phòng ngủ</option>
                      <option>Cần mua</option>
                      <option>Cần thuê</option>
                      <option>Tìm dự án</option>
                    </select>
                  </div>

                  <div class="form-group mt-4 text-center">
                    <a href="" class="btn btn-light font-weight-bold text-danger project-s-btn  ">
                      <i class="fas fa-search"></i>
                      TÌM KIẾM NGAY</a>
                  </div>

                </form>
              </div>

            </div>
        </div>
      </div>



    </div>

  </div>
</div>
</div>


<!-- Modal -->
<div class="modal fade project-p-modal" id="modalEnvelope" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">


      <div class="modal-body">
        <div class="project-p-h">
          <h3 class="project-p-container">
            <div class="project-p">
              <div class="w-100">
                <h4 class="mb-4">
                  Cung cấp đầy đủ thông tin liên lạc sẽ giúp người bán liên hệ với bạn nhanh chong và hiệu quả hơn.
                </h4>
                <form>
                  <div class="form-group">
                    <input type="text" class="form-control border-0" placeholder="Họ tên">
                  </div>

                  <div class="form-group">
                    <input type="text" class="form-control border-0" placeholder="Số điện thoại">
                  </div>

                  <div class="form-group">
                    <input type="text" class="form-control border-0" placeholder="Email">
                  </div>

                  <div class="form-group">
                    <textarea name="" class="form-control border-0" id="" cols="30" rows="4"
                    placeholder="Vui lòng để lại lời nhắn"></textarea>
                  </div>



                  <div class="form-group mt-4 text-center">
                    <a href="" class="btn btn-light font-weight-bold text-danger project-s-btn  ">
                      <i class="fas fa-envelope"></i>
                      GỬI TIN NHẮN</a>
                  </div>

                </form>
              </div>

            </div>
        </div>
      </div>



    </div>

  </div>
</div>
</div>



{% endblock %}