{% extends 'layouts/application.html' %} {% import 'macros/helpers.html' as macro %} {% block content %}


<br>
<br>
<br>
<div class="subscribed">
    <div class="container-fluid">
        <div class="row title">
            <div class="col-lg-4 d-none d-lg-block left-block">
                <div class="row-inline float-left"></div>
            </div>
            <div class="col-lg-4 col-xs-12 middle-block">
                <h2>ĐĂNG KÝ NHẬN TIN MỚI</h2>
            </div>
            <div class="col-lg-4 d-none d-lg-block right-block">
                <div class="row-inline float-right"></div>
            </div>
        </div>
        <div class="row content">
            <div class="col-lg-4 offset-lg-4">
                <form class="content-info">
                    <div class="form-group">
                        <input class="form-control" placeholder="Họ và tên" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Số điện thoại" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Email" />
                    </div>
                </form>
            </div>
        </div>
        <div class="row footer">
            <div class="col-lg-4 offset-lg-4">
                <div class="btn-subscribed">
                    <span class="title-subscribed">ĐĂNG KÝ NGAY</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hero-footer">
    <div class="container">
        <fieldset class="footer-title">
            <legend>
                <img src="../images/logo-goldenland.png" />
            </legend>
            <div class="row">
                <div class="footer-content">
                    <p class="address">CÔNG TY CỔ PHẦN BĐS GOLDEN LAND</p>
                    <p>Lầu 6, tòa nhà 293 Điện Biên Phủ, Phường 15,</p>
                    <p>Q. Bình Thạnh, TPHCM</p>
                    <p>Hotline: 0901 867 869</p>
                    <p>Email: <a href="mailto:info@goldenlands.vn" >info@goldenlands.vn</a></p>
                </div>
            </div>
        </fieldset>
    </div>
</div>

{% endblock %}