{% extends 'layouts/application.html' %} {% import 'macros/helpers.html' as macro %} {% block content %}




<div class="tintuc-banner" style="background-image: url('images/tintuc/top-banner02.jpg')">
    <hr class="line-bottom" />
</div>

<div class="tintuc-main">
    <div class="">
        <ul class="tintuc-menu">
            <li class="menu-detail is-active">
                <a href="/">
                    <p class="mb-0">Tin dự án</p>
                </a>
            </li>
            <li class="menu-detail">
                <a href="/">
                    <p class="mb-0">Tin thị trường</p></a>
            </li>
            <li class="menu-detail">
                <a href="/">
                    <p class="mb-0">Tin Goldenland</p>
                </a>
            </li>
            <li class="menu-detail">
                <a href="/">
                    <img class="img-fluid mx-auto menu-detail-icon" src="images/tintuc/icon-search.png" alt="">
                </a>
            </li>
        </ul>
    </div>



    <div class="tintuc-relative">
        <div class="container">
            <div class="news-slider swiper-container">
                <div class="swiper-wrapper">
                    {% for item in range (0,5) %}
                    <div class="swiper-slide">
                        <div class="tintuc-relative-item">
                            <a href="" class="link-absolute"></a>
                            <div class="embed-responsive embed-responsive-tintuc tintuc-relative-img">
                                <img src="images/des/news1.jpg" class="embed-responsive-img" alt="">
                            </div>

                            <div class="tintuc-relative-content">
                                <span>
                                        QUYỀN SỞ HỮU NHÀ Ở TẠI VIỆT NAM CỦA TỔ CHỨC, CÁ NHÂN NƯỚC NGOÀI
                                </span>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </div>


            </div>

        </div>



        <div class="project-f-prev project-f-btn news-prev">
            <i class="fas fa-chevron-left"></i>
        </div>

        <div class="project-f-next project-f-btn news-next">
            <i class="fas fa-chevron-right"></i>
        </div>
    </div>
    <div class="container">
        <div class="tintuc-border">

            <ul class="tintuc-social list-inline">
                <li class="list-inline-item">
                   <span>
                        Chia sẽ
                   </span>
                </li>
                <li class="list-inline-item">
                    <a href=""> <i class="fab fa-facebook-f"></i> </a>
                </li>

                <li class="list-inline-item">
                    <a href=""> <i class="fab fa-google-plus-g"></i> </a>
                </li>

            </ul>

            <h1 class="tintuc-title h3 font-weight-bold text-center">
                GOLDEN LAND CHÍNH THỨC PHÂN PHỐI DỰ ÁN GEM RIVERSIDE
            </h1>
            <div class="tintuc-sortdecs">
                Tập đoàn Đất Xanh group (DXG) là chủ đầu tư khu căn hộ Gem Riverside đã chọn Golden Land làm đại lý chính thức phân phối
                dự án.
            </div>

            <p>
                Lễ ký kết hợp tác phân phối dự án của chủ đầu tư DXG với Golden Land và các đơn vị phân phối của dự án diễn ra vào chiều
                ngày 29/01/2018 tại nhà hàng ADORA thu hút hơn 3000 chuyên viên kinh doanh tham dự.
            </p>

            <div class="text-right">
                <a href="" class="text-danger text-underline">Theo báo Tiền Phong</a>
            </div>
        </div>

    </div>


</div>

{% endblock %}