{% extends 'layouts/application.html' %} {% import 'macros/helpers.html' as macro %} {% block content %}


<section class="lienhe-title" style="background-image: url('images/tintuc/top-banner02.jpg')">
  <div class="container">
    <h2 class="text-center h1 mb-0 font-weight-bold lienhe-title-name">
      <span>TIN TỨC</span>
    </h2>


  </div>
</section>


<div class="tintuc-main">
  <div class="">
    <ul class="tintuc-menu">
      <li class="menu-detail is-active animated " data-animate="fadeInUp" data-delay=".9">
        <a href="/">
          <p class="mb-0">Tin dự án</p>
        </a>
      </li>
      <li class="menu-detail animated " data-animate="fadeInUp" data-delay="1">
        <a href="/">
          <p class="mb-0">Tin thị trường</p>
        </a>
      </li>
      <li class="menu-detail animated " data-animate="fadeInUp" data-delay="1.1">
        <a href="/">
          <p class="mb-0">Tin Goldenland</p>
        </a>
      </li>
      <li class="menu-detail animated " id="search" data-animate="fadeInUp" data-delay="1.2">
        <a href="/" class="searchBtn">
          <img class="img-fluid mx-auto menu-detail-icon" src="images/tintuc/icon-search.png" alt="">
        </a>

        <div class="search-container">
          <form id="searchform" class="header-searchform" action="https://www.google.com/search" method="get" target="_blank">
            <input id="q" name="q" maxlength="20" class="inputbox input-lg" type="text" size="20" placeholder="Tìm kiếm ...">
            <button type="submit" id="searchsubmit" class="searchsubmit fas fa-search white-icon"></button>
          </form>
        </div>
      </li>

      <li>

      </li>
    </ul>
  </div>




  <div class="tintuc-tieudiem">
    <div class="container-fluid position-relative">
      <div class="row no-gutters align-items-center  ">
        <div class="col-auto">
          <div class="position-relative tintuc-tieudiem-heading">
              <img src="images/des/tieudiem-splash.png" alt="">
              <div class="tintuc-tieudiem-txt">
                TIÊU ĐIỂM
              </div>
          </div>
          
        </div>
        <div class="col">
          <div class="tintuc-tieudiem-daidien">
            <div class="tintuc-tieudiem--image" style="background-image: url(images/project/project1.jpg)">

            </div>

          </div>
        </div>

      </div>



      <div class="tintuc-tieudiem--chitiet ">
        <p class="tintuc-tieudiem--title animated" data-animate="fadeInUp" data-delay="1">GOLDEN LAND CHÍNH THỨC PHÂN
          PHỐI DỰ ÁN GEM RIVERSIDE</p>
        <p class="tintuc-tieudiem--content animated" data-animate="fadeInUp" data-delay="1.1">Tập đoàn Đất Xanh group
          (DXG) là chủ đầu tư khu căn hộ Gem Riverside đã chọn
          Golden Land làm đại lý chính thức phân phối dự án. Lễ ký kết hợp tác phân phối dự án của chủ đầu tư DXG với
          Golden
          Land và các đơn vị phân phối của dự án diễn ra vào chiều ngày 29/01/2018 tại nhà hàng ADORA thu hút hơn 3000
          chuyên
          viên kinh doanh tham dự.
        </p>
        <a href="/" class="tintuc-tieudiem--btn">
          <p class="mb-0">
            Xem ngay
          </p>
        </a>
      </div>
    </div>
  </div>
  <div class="tintuc-list">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-12 col-md-6 col-lg-4 d-flex">
          <div class="tintuc-detail mb-3 mr-md-3 mr-lg-3 d-flex">
            <p class="tintuc-detail--date mb-0 position-absolute">
              16.08.2018
            </p>
            <div class="tintuc-detail--block">
              <div class="tintuc-detail--image">
                <img class="img-fluid mx-auto" src="images/tintuc/tintuc01.jpg" alt="">
                <div class="overlay-xem">
                  <span>xem</span>
                </div>
              </div>
              <div class="tintuc-detail--text">
                <p class="tintuc-detail--title my-3 text-center">
                  CĂN HỘ 5 SAO: VỊ THẾ CỦA ĐẠI GIA “NGẦM”
                </p>
                <p class="tintuc-detail--content">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 d-flex">
          <div class="tintuc-detail mb-3 mr-md-3 mr-lg-3 d-flex">
            <p class="tintuc-detail--date mb-0 position-absolute">
              16.08.2018
            </p>
            <div class="tintuc-detail--block">
              <div class="tintuc-detail--image">
                <img class="img-fluid mx-auto" src="images/tintuc/tintuc01.jpg" alt="">
                <div class="overlay-xem">
                  <span>xem</span>
                </div>
              </div>
              <div class="tintuc-detail--text">
                <p class="tintuc-detail--title my-3 text-center">
                  CĂN HỘ 5 SAO: VỊ THẾ CỦA ĐẠI GIA “NGẦM”
                </p>
                <p class="tintuc-detail--content">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat.
                  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                  pariatur.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 d-flex">
          <div class="tintuc-detail mb-3 mr-md-3 mr-lg-3 d-flex">
            <p class="tintuc-detail--date mb-0 position-absolute">
              16.08.2018
            </p>
            <div class="tintuc-detail--block">
              <div class="tintuc-detail--image">
                <img class="img-fluid mx-auto" src="images/tintuc/tintuc01.jpg" alt="">
                <div class="overlay-xem">
                  <span>xem</span>
                </div>
              </div>
              <div class="tintuc-detail--text">
                <p class="tintuc-detail--title my-3 text-center">
                  CĂN HỘ 5 SAO: VỊ THẾ CỦA ĐẠI GIA “NGẦM”
                </p>
                <p class="tintuc-detail--content">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat.
                  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                  pariatur.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 d-flex">
          <div class="tintuc-detail mb-3 mr-md-3 mr-lg-3 d-flex">
            <p class="tintuc-detail--date mb-0 position-absolute">
              16.08.2018
            </p>
            <div class="tintuc-detail--block">
              <div class="tintuc-detail--image">
                <img class="img-fluid mx-auto" src="images/tintuc/tintuc01.jpg" alt="">
                <div class="overlay-xem">
                  <span>xem</span>
                </div>
              </div>
              <div class="tintuc-detail--text">
                <p class="tintuc-detail--title my-3 text-center">
                  CĂN HỘ 5 SAO: VỊ THẾ CỦA ĐẠI GIA “NGẦM”
                </p>
                <p class="tintuc-detail--content">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat.
                  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                  pariatur.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 d-flex">
          <div class="tintuc-detail mb-3 mr-md-3 mr-lg-3 d-flex">
            <p class="tintuc-detail--date mb-0 position-absolute">
              16.08.2018
            </p>
            <div class="tintuc-detail--block">
              <div class="tintuc-detail--image">
                <img class="img-fluid mx-auto" src="images/tintuc/tintuc01.jpg" alt="">
                <div class="overlay-xem">
                  <span>xem</span>
                </div>
              </div>
              <div class="tintuc-detail--text">
                <p class="tintuc-detail--title my-3 text-center">
                  CĂN HỘ 5 SAO: VỊ THẾ CỦA ĐẠI GIA “NGẦM”
                </p>
                <p class="tintuc-detail--content">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat.
                  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                  pariatur.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 d-flex">
          <div class="tintuc-detail mb-3 mr-md-3 mr-lg-3 d-flex">
            <p class="tintuc-detail--date mb-0 position-absolute">
              16.08.2018
            </p>
            <div class="tintuc-detail--block">
              <div class="tintuc-detail--image">
                <img class="img-fluid mx-auto" src="images/tintuc/tintuc01.jpg" alt="">
                <div class="overlay-xem">
                  <span>xem</span>
                </div>
              </div>
              <div class="tintuc-detail--text">
                <p class="tintuc-detail--title my-3 text-center">
                  CĂN HỘ 5 SAO: VỊ THẾ CỦA ĐẠI GIA “NGẦM”
                </p>
                <p class="tintuc-detail--content">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat.
                  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                  pariatur.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tintuc-xemthem text-center">
        <a href="/">
          <p class="tintuc-xemthem--text text-uppercase mb-2">xem thêm</p>
          <img src="images/tintuc/icon-xemthem.png" alt="">
        </a>

      </div>
    </div>
  </div>
</div>

{% endblock %}