<!DOCTYPE HTML>
<html lang="vi">

<head>
   <meta charset="utf-8">
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
   <meta http-equiv="cache-control" content="private">
   <meta http-equiv="Content-Language" content="vi">
   <meta name="viewport"
         content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
   <meta name="apple-mobile-web-app-capable" content="yes">
   <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css" type="text/css" media="all">
   <link href="stylesheets/tuyendung.css" rel="stylesheet" type="text/css">
   <link href="https://fonts.googleapis.com/css?family=Cabin+Condensed:400,700|Cabin:400,400i,700" rel="stylesheet">
   <!--[if lt IE 9]>
   <meta http-equiv="refresh" content="0; url=http://cattuonggroup.com.vn/detect.html"/>
   <script type="text/javascript">
      /* <![CDATA[ */
window.top.location = 'http://cattuonggroup.com.vn/detect.html';
/* ]]> */
</script>
<![endif]-->
   <script type="application/ld+json">
        {"": "https://schema.org","": "WebSite","headline": "CAT TUONG GROUP","image": "http://cattuonggroup.com.vn/catalog/view/theme/default/images/social-share.png"}


   </script>
   <script type='application/ld+json'>
        {"":"https://schema.org","":"Organization","url":"http://cattuonggroup.com.vn/","sameAs":["https://www.facebook.com/tapdoandiaoccattuong","https://plus.google.com/u/0/+CátTườngGroup"],"name":"CAT TUONG GROUP","logo":"http://cattuonggroup.com.vn/catalog/view/theme/default/images/social-share.png"}


   </script>

   <!-- Modernizr Library -->
   <script type="text/javascript" src="js/modernizr.min.js"></script>

   <!-- jQuery Library -->
   <!--<script type="text/javascript" src="js/jquery.js"></script>-->

   <script type="text/javascript" src="js/tuyendung/jquery.js"></script>
   <script type="text/javascript" src="js/tuyendung/common.js"></script>
   <script type="text/javascript" src="js/tuyendung/slide.js"></script>
   <script type="text/javascript" src="js/tuyendung/scroll.js"></script>
   <script type="text/javascript" src="js/tuyendung/load.js"></script>
   <script type="text/javascript" src="js/tuyendung/validate.js"></script>

</head>

<body id="resource-page">

{% include "layouts/header.html" %}
<!--LOAD-PAGE-->
<div class="all-pics"></div>
<div class="all-album"></div>
<div class="allvideo"></div>
<div class="overlay-album"></div>
<div class="overlay-video"></div>
<div class="overlay-dark"></div>

<!--CONTAINER-->
<div class="container">

   <div class="sub-nav">
      <ul>
         <li class="current"><a href="moi-truong-lam-viec.html" data-name="r-3" data-title="CÁT TƯỜNG GROUP"
                                data-description="CÁT TƯỜNG GROUP" data-keyword="CÁT TƯỜNG GROUP">Môi trường làm
            việc</a></li>
         <li><a href="http://cattuonggroup.com.vn/phat-trien-nhan-luc/co-hoi-nghe-nghiep-1.html" data-name="r-6"
                data-title="CÁT TƯỜNG GROUP" data-description="CÁT TƯỜNG GROUP" data-keyword="CÁT TƯỜNG GROUP">Cơ
            hội nghề nghiệp</a></li>
         <li><a href="http://cattuonggroup.com.vn/phat-trien-nhan-luc/chinh-sach-nhan-su.html" data-name="r-2"
                data-title="CÁT TƯỜNG GROUP" data-description="CÁT TƯỜNG GROUP" data-keyword="CÁT TƯỜNG GROUP">Chính
            sách nhân sự</a></li>
         <li><a href="http://cattuonggroup.com.vn/phat-trien-nhan-luc/thong-tin-tuyen-dung.html" data-name="r-1"
                data-title="CÁT TƯỜNG GROUP" data-description="CÁT TƯỜNG GROUP" data-keyword="CÁT TƯỜNG GROUP">Thông
            tin tuyển dụng</a></li>
      </ul>
   </div>
   <div class="slider-resource">
      <div class="item-wrapper">
         <div class="content-center item-container" data-hash="r-3"
              data-href="http://cattuonggroup.com.vn/phat-trien-nhan-luc/moi-truong-lam-viec.html"
              data-title="CÁT TƯỜNG GROUP" data-description="CÁT TƯỜNG GROUP" data-keyword="CÁT TƯỜNG GROUP">
            <div class="bg-cover"
                 style="background-image:url(images/cattuong/background/moi-truong-lam-viec.jpg)"></div>
            <div class="content-resource">
               <div class="content-resource-bg"></div>
               <div class="scrollC">
                  <h2>Môi trường làm việc</h2>
                  <p>Cát Tường Group thấu hiểu rằng nguồn nhân lực là tài sản quý giá nhất của một tổ chức,
                     là yếu tố cốt lõi kiến tạo nên thành công của doanh nghiệp. Trân trọng sự đóng góp của
                     Nhân viên cũng chính là tiêu chí phát triển của Cát Tường Group. Vì thế, công ty luôn
                     tạo môi trường làm việc thân thiện, năng động, khuyến khích và trân trọng những ý kiến
                     độc lập và sáng tạo của nhân viên.
                  </p>
                  <p>Cát Tường Group chú trọng đến việc phát triển và giữ chân nhân tài. Chú trọng đào tạo
                     nhân viên thông qua các chương trình phát triển nâng cao năng lực để đóng góp vào thành
                     công bền vững của công ty.
                  </p>
                  <p>Thường xuyên tổ chức các buổi tập huấn, các khóa học bổ sung kiến thức, rèn luyện kĩ
                     năng định kỳ và theo từng dự án. Đề bạt, bổ nhiệm những nhân viên có năng lực vào vị
                     trí quản lý, lãnh đạo. Có chính sách khen thưởng, đãi ngộ xứng đáng và kịp thời để gắn
                     kết hiệu quả công việc trong bộ máy nhân lực công ty.
                  </p>
                  <p><br></p>
               </div>
               <!--add social-->
               <div class="social">
                  <ul>
                     <li><a class="facebook"
                            href="https://www.facebook.com/dialog/share?app_id=1021509531312771&display=popup&href=http://cattuonggroup.com.vn/phat-trien-nhan-luc/moi-truong-lam-viec.html&picture=http://cattuonggroup.com.vn/catalog/view/theme/default/images/social-share.png&title=CÁT+TƯỜNG+GROUP&description=CÁT+TƯỜNG+GROUP"
                            target="_blank"></a></li>
                     <li><a class="google"
                            href="https://plus.google.com/share?url=http://cattuonggroup.com.vn/phat-trien-nhan-luc/moi-truong-lam-viec.html"
                            target="_blank"></a></li>
                     <li><a class="twitter"
                            href="https://twitter.com/intent/tweet?url=http://cattuonggroup.com.vn/phat-trien-nhan-luc/moi-truong-lam-viec.html&original_referer=&text=Môi+trường+làm+việc"
                            target="_blank"></a></li>
                  </ul>
               </div>
               <!--add social-->
               <span class="line-box"></span>
            </div>
         </div>
         <div class="content-center item-container" data-hash="r-6"
              data-href="http://cattuonggroup.com.vn/phat-trien-nhan-luc/co-hoi-nghe-nghiep-1.html"
              data-title="CÁT TƯỜNG GROUP" data-description="CÁT TƯỜNG GROUP" data-keyword="CÁT TƯỜNG GROUP">
            <div class="bg-cover"
                 style="background-image:url(images/cattuong/background/co-hoi-nghe-nghiep.jpg)"></div>
            <div class="content-resource">
               <div class="content-resource-bg"></div>
               <div class="scrollC">
                  <h2>Cơ hội nghề nghiệp</h2>
                  <p>Vững vàng và lớn mạnh theo thời gian, chỉ từ 6 nhân sự năm 2011, đến nay công ty đã có
                     hơn 700 nhân sự chính thức trên toàn hệ thống, với 20 sàn giao dịch hoạt động trên địa
                     bàn khu vực tỉnh Long An, TP HCM. </p>
                  <p>Định hướng phát triển trở thành một trong những công ty hàng đầu trong lĩnh vực đầu tư,
                     kinh doanh bất động sản tại Long An và vươn ra đầu tư toàn Quốc. Cát Tường Group luôn
                     chào đón các ứng viên có hoài bão, mong muốn được làm việc trong môi trường chuyên
                     nghiệp và năng động.</p>
                  <p>Gia nhập “đại gia đình” Cát Tường Group, mỗi thành viên sẽ có cơ hội thăng tiến nhanh và
                     đạt được mức thu nhập cao hàng tháng cùng nhiều chính sách đãi ngộ.</p>
               </div>
               <!--add social-->
               <div class="social">
                  <ul>
                     <li><a class="facebook"
                            href="https://www.facebook.com/dialog/share?app_id=1021509531312771&display=popup&href=http://cattuonggroup.com.vn/phat-trien-nhan-luc/co-hoi-nghe-nghiep-1.html&picture=http://cattuonggroup.com.vn/catalog/view/theme/default/images/social-share.png&title=CÁT+TƯỜNG+GROUP&description=CÁT+TƯỜNG+GROUP"
                            target="_blank"></a></li>
                     <li><a class="google"
                            href="https://plus.google.com/share?url=http://cattuonggroup.com.vn/phat-trien-nhan-luc/co-hoi-nghe-nghiep-1.html"
                            target="_blank"></a></li>
                     <li><a class="twitter"
                            href="https://twitter.com/intent/tweet?url=http://cattuonggroup.com.vn/phat-trien-nhan-luc/co-hoi-nghe-nghiep-1.html&original_referer=&text=Cơ+hội+nghề+nghiệp"
                            target="_blank"></a></li>
                  </ul>
               </div>
               <!--add social-->
               <span class="line-box"></span>
            </div>
         </div>
         <div class="content-center item-container" data-hash="r-2"
              data-href="http://cattuonggroup.com.vn/phat-trien-nhan-luc/chinh-sach-nhan-su.html"
              data-title="CÁT TƯỜNG GROUP" data-description="CÁT TƯỜNG GROUP" data-keyword="CÁT TƯỜNG GROUP">
            <div class="bg-cover"
                 style="background-image:url(images/cattuong/background/chinh-sach-nhan-su.jpg)"></div>
            <div class="content-resource">
               <div class="content-resource-bg"></div>
               <div class="scrollC">
                  <h2>Chính sách nhân sự</h2>
                  <p>Tại Cát Tường Group, chúng tôi trân trọng sự đóng góp của tất cả mọi người vào thành
                     công chung. Tất cả sự thành công, dù là nhỏ nhất đều được ghi nhận và tưởng thưởng xứng
                     đáng. </p>
                  <p><strong>HỆ THỐNG LƯƠNG - THƯỞNG</strong><br>• Chế độ lương cạnh tranh, hoa hồng hấp dẫn<br>•
                     Xét duyệt tăng lương định kỳ hàng năm dựa vào tính chất công việc và thành tích làm
                     việc.<br>• Thưởng thành tích dự án, hằng tháng, hằng quý theo hiệu quả công việc.<br>•
                     Thưởng Lễ, Tết và các ngày lễ lớn trong năm.<br>• Thực hiện trích nộp bảo hiểm xã hội,
                     bảo hiểm y tế cho người lao động đầy đủ theo quy định hiện hành. Giải quyết các chế độ
                     về thai sản, ốm đau theo đúng quy định của pháp luật.</p>
                  <p><strong>CHÍNH SÁCH PHÚC LỢI</strong><br>• Các chính sách chăm lo đời sống: quà sinh
                     nhật, quà cưới, quà Lễ Tết,...<br>• Được tham giam các khóa đào tạo, bồi dưỡng kỹ năng
                     chuyên môn.<br>• Chương trình du lịch, nghỉ dưỡng/ team building hàng năm tạo sự thư
                     giãn và gắn bó đoàn kết.</p>
               </div>
               <!--add social-->
               <div class="social">
                  <ul>
                     <li><a class="facebook"
                            href="https://www.facebook.com/dialog/share?app_id=1021509531312771&display=popup&href=http://cattuonggroup.com.vn/phat-trien-nhan-luc/chinh-sach-nhan-su.html&picture=http://cattuonggroup.com.vn/catalog/view/theme/default/images/social-share.png&title=CÁT+TƯỜNG+GROUP&description=CÁT+TƯỜNG+GROUP"
                            target="_blank"></a></li>
                     <li><a class="google"
                            href="https://plus.google.com/share?url=http://cattuonggroup.com.vn/phat-trien-nhan-luc/chinh-sach-nhan-su.html"
                            target="_blank"></a></li>
                     <li><a class="twitter"
                            href="https://twitter.com/intent/tweet?url=http://cattuonggroup.com.vn/phat-trien-nhan-luc/chinh-sach-nhan-su.html&original_referer=&text=Chính+sách+nhân+sự"
                            target="_blank"></a></li>
                  </ul>
               </div>
               <!--add social-->
               <span class="line-box"></span>
            </div>
         </div>
         <div class="content-center item-container item-career" data-hash="r-1"
              data-href="http://cattuonggroup.com.vn/phat-trien-nhan-luc/thong-tin-tuyen-dung.html"
              data-title="CÁT TƯỜNG GROUP" data-description="CÁT TƯỜNG GROUP" data-keyword="CÁT TƯỜNG GROUP">
            <div class="bg-cover" style="background-image:url(images/cattuong/background/bg32.jpg)"></div>
            <div class="content-career">
               <!--<h2>Thông tin tuyển dụng</h2>-->
               <div class="news-list career">
                  <div class="scrollB">
                     <div class="link-page active">
                        <a class="link-career "
                           href=""
                           data-name="d-4" data-title="CÁT TƯỜNG GROUP" data-description="CÁT TƯỜNG GROUP"
                           data-keyword="CÁT TƯỜNG GROUP">
                           <h3>Nhân viên Kinh Doanh</h3>
                        </a>
                     </div>

                     <div class="link-page">
                        <a class="link-career "
                           href=""
                           data-name="d-4" data-title="CÁT TƯỜNG GROUP" data-description="CÁT TƯỜNG GROUP"
                           data-keyword="CÁT TƯỜNG GROUP">
                           <h3>Nhân viên Kinh Doanh</h3>
                        </a>
                     </div>
                  </div>
               </div>
               <div class="colum-box-news">
                  <span class="line-box"></span>
                  <div class="content-resource-bg"></div>
                  <a href="#" data-toggle="modal" data-target="#modalUngtuyen"  class="btn-tuyendung btn-element btn btn-fullcolor btn-skewed" title="SOME TITLE">
                     <span>ĐĂNG KÝ ỨNG TUYỂN</span>
                  </a>
                  <div class="load-page">

                     <div class="scrollD">
                        <div class="recruitment-content">
                           <div class="detail-recruitment">
                              <h3>Nhân viên Kinh Doanh</h3>





                              <div class="recruitment-text">
                                 <p><strong>NHIỆM VỤ CHÍNH:</strong><br>- Cung cấp, tư vấn thông tin sản phẩm
                                    đáp ứng nhu cầu khách hàng<br>- Thực hiện chỉ tiêu bán hàng hàng theo
                                    tháng / quý / năm<br>- Phối hợp với các phòng ban liên quan giải đáp
                                    thắc mắc của khách hàng<br>- Cập nhật tiến độ thực hiện dự án, sản phẩm
                                    mới đến khách hàng<br>- Thực hiện nghiệp vụ tìm kiếm mở rộng nguồn khách
                                    hàng tiềm năng<br>- Thiết lập, phát triển mối quan hệ khách hàng và kênh
                                    khách hàng mới<br> - Tham gia đầy đủ các chương trình huấn luyện.</p>
                                 <p><strong>YÊU CẦU:</strong><br> - Tốt nghiệp trung cấp trở lên.<br> - Ngoại
                                    hình dễ nhìn, tự tin, năng động, kỹ năng giao tiếp tốt.<br> - Am hiểu về
                                    môi trường kinh tế, tài chính, xã hội và thị trường Bất động sản.<br> -
                                    Ưu tiên ứng viên có kinh nghiệm làm việc trong lĩnh vực bán hàng Bất
                                    động sản / Tài chính / Ô tô / Bán lẻ / …</p>
                                 <p><strong>ĐỊA ĐIỂM LÀM VIỆC
                                 </strong></p>
                                 <p>
                                    - Làm việc tại 20 Sàn Giao Dịch Bất Động Sản thuộc Cát Tường Group tại
                                    các Q. Tân Bình, Q. Tân Phú, Q.Bình Tân, Q.Gò Vấp, Q.Bình Thạnh,
                                    Q.12</p>
                                 <p><strong>HỒ SƠ ỨNG TUYỂN GỒM CÓ:</strong><br> - Sơ yếu lý lịch nêu rõ quá
                                    trình công tác, kinh nghiệm tích lũy và thành tích<br> - Đơn xin
                                    việc<br> - Bản sao hộ khẩu, CMND và các bằng cấp có liên quan.</p>
                                 <p><strong>CÁCH THỨC NỘP HỒ SƠ:<br></strong>- Nộp hồ sơ trực tuyến qua
                                    email: <strong><a href="mailto:tuyendung@cattuonggroup.com.vn">tuyendung@cattuonggroup.com.vn</a>&nbsp;</strong><br>-
                                    Phòng Nhân Sự:<br>&nbsp; Địa chỉ: 789 Ấp Mới, Xã Mỹ Hạnh Nam, Đức Hòa,
                                    Long An<br>&nbsp; Hotline: 0833 717 070</p>
                                 <p><br></p></div>




                              <!--add social-->
                              <div class="social">
                                 <ul>
                                    <li><a class="facebook"
                                           href="https://www.facebook.com/dialog/share?app_id=1021509531312771&amp;display=popup&amp;href=http://cattuonggroup.com.vn/phat-trien-nhan-luc/thong-tin-tuyen-dung/chuyen-vien-tu-van.html&amp;picture=http://cattuonggroup.com.vn/pictures/catalog/news/Cat-Tuong-Phu-Sinh-Mo-ban-dot-7-1.jpg&amp;title=CÁT+TƯỜNG+GROUP&amp;description=CÁT+TƯỜNG+GROUP"
                                           target="_blank"></a></li>
                                    <li><a class="google"
                                           href="https://plus.google.com/share?url=http://cattuonggroup.com.vn/phat-trien-nhan-luc/thong-tin-tuyen-dung/chuyen-vien-tu-van.html"
                                           target="_blank"></a></li>
                                    <li><a class="twitter"
                                           href="https://twitter.com/intent/tweet?url=http://cattuonggroup.com.vn/phat-trien-nhan-luc/thong-tin-tuyen-dung/chuyen-vien-tu-van.html&amp;original_referer=&amp;text=Nhân+viên+Kinh+Doanh"
                                           target="_blank"></a></li>
                                 </ul>
                              </div>
                              <!--add social-->
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

            </div>
         </div>
      </div>
   </div>
   <div class="footer">

      <!--SOCIAL-->
      <div class="social mobile">
         <ul>
            <li><a class="facebook" href="https://www.facebook.com/tapdoandiaoccattuong" target="_blank"></a></li>
            <li><a class="youtube" href="https://www.youtube.com/c/CátTườngGroup" target="_blank"></a></li>
            <li><a class="google" href="https://plus.google.com/u/0/+CátTườngGroup" target="_blank"></a></li>
         </ul>
      </div>
      <!--SOCIAL-->

   </div>
   <!--FOOTER-->
</div>
<!--CONTAINER-->
<div class="overlay-menu"></div>
<div class="go-top"></div>
<div class="scroll-down"></div>


<div class="hero-footer hero-footer-duan">

   <div class="hero-footer-copyright">
      <div class="row align-items-center justify-content-center">
         2018 © GOLDEN LAND. ALL RIGHTS RESERVED
         <div class="col-auto">
            <ul class="list-inline text-white">
               <li class="list-inline-item">
                  <a href="" class="text-white"><strong>EN</strong></a>
               </li>
               <li class="list-inline-item">
                  <a href="" class="text-white"><i class="fab fa-facebook-f"></i></a>
               </li>

               <li class="list-inline-item">
                  <a href="" class="text-white"><i class="fab fa-youtube"></i></a>
               </li>
            </ul>
         </div>
      </div>


   </div>
</div>

<!-- Modal -->
<div class="modal fade project-p-modal  modal-ungtuyen"  id="modalUngtuyen" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">


         <div class="modal-body">
            <div class="project-p-h">
               <h3 class="project-p-container">
                  <div class="project-p">
                     <div class="w-100">
                        <h4 class="mb-4">
                           Cung cấp đầy đủ thông tin để chúng tôi liên lạc với bạn trong thời gian sớm nhất.
                        </h4>
                        <form>
                           <div class="form-group">
                              <input type="text" class="form-control border-0" placeholder="Họ tên">
                           </div>

                           <div class="form-group">
                              <input type="text" class="form-control border-0" placeholder="Số điện thoại">
                           </div>

                           <div class="form-group">
                              <input type="text" class="form-control border-0" placeholder="Email">
                           </div>

                           <div class="form-group">
                              <select name="" class="form-control border-0" id="">
                                 <option value="">Vị trí ứng tuyển</option>
                                 <option value="">Vị trí ứng tuyển</option>
                                 <option value="">Vị trí ứng tuyển</option>
                                 <option value="">Vị trí ứng tuyển</option>
                              </select>
                           </div>


                           <div class="form-group mt-4 text-center">
                              <a href="" class="btn btn-light font-weight-bold text-danger project-s-btn  ">
                                 <i class="fas fa-envelope"></i>
                                 ĐĂNG KÝ ỨNG TUYỂN</a>
                           </div>

                        </form>
                     </div>

                  </div>
            </div>
         </div>


      </div>

   </div>
</div>
</div>


<script type="text/javascript" src="js/tuyendung/btq.js"></script>


<!-- JS FILES // These should be loaded in every page -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>


</body>

</html>