.logo-svg-postion {
  z-index: 9;
  width: 200px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
}

.logo-loading-line {
  * {
    animation-play-state: paused;
  }
}

.logo-loading-img {
  opacity: 0;
  visibility: hidden;
  transition: all 1s ease-out;
  transition-delay: 1s;
}

.logo-loading {
  .logo-loading-line {
    opacity: 1;
    visibility: visible;
    * {
      animation-play-state: running;
      // animation-fill-mode: backwards;
    }
  }

  .logo-loading-img {
    visibility: visible;
    opacity: 1;
  }
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  // background-color: #eff6ff;
}

.loader-section {
  position: fixed;
  height: 51%;
  width: 100%;
  left: 0;
  transition: all 0.7s ease;
  background: white;
}


.loader-top {
  top: 0;
}
.loaded .loader-top {
  transform: translate(0, -100%);
}
.loader-bottom {
  bottom: 0;
}
.loaded .loader-bottom {
  transform: translate(0, 100%);
}
