{% macro sprite(id, viewBox, classes) %}
  {% set viewBox = viewBox or "0 0 1 1"%}
  <span class='sprite -{{id}} {{classes}}'>
    <svg viewBox="{{viewBox}}"><use xlink:href='images/icons.svg#{{id}}'></use></svg>
  </span>
{% endmacro %}

{% macro field(name, value='', type='text') %}

<div class="field">
  <input type="{{ type }}" name="{{ name }}" value="{{ value | escape }}" />
</div>

{% endmacro %}