{% from 'macros/helpers.html' import sprite %}

<!doctype html>
<html lang="vi">

<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>

    {% block title %} {{ title }} {% endblock %}

  </title>
  <meta name="theme-color" content="#0e7abe">

  <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css" type="text/css" media="all">
  <link rel="stylesheet" href="stylesheets/core.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">
  <link href="https://fonts.googleapis.com/css?family=Cabin+Condensed:400,700|Cabin:400,400i,700" rel="stylesheet">

  <!-- Modernizr Library -->
  <script type="text/javascript" src="js/modernizr.min.js"></script>

  <!-- jQuery Library -->
  <script type="text/javascript" src="js/jquery.js"></script>

</head>


<body class="">

  <div class="wrapper">
    <div id="page_wrapper">
     <!-- include "layouts/loading.html" -->

      {% include "layouts/header.html" %} {% block content %} {% endblock %}
      {% include "layouts/footer.html" %}


    </div>
  </div>

  {% block javascript %}

  <!-- JS FILES // These should be loaded in every page -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/kl-plugins.js"></script>
  <script type="text/javascript" src="js/vegas.min.js"></script>
  <script type="text/javascript" src="js/waypoint.js"></script>

  <script type="text/javascript" src="js/TweenMax.min.js"></script>
  <script type="text/javascript" src="js/jquery.wavify.js"></script>

  <script type="text/javascript" src="js/swiper.min.js"></script>


  <!-- JS FILES // Loaded on this page -->
  <!-- Required js scripts files for Google Maps element (create and use your API Key bellow) https://developers.google.com/maps/documentation/javascript/get-api-key -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBujjMVHPFsgkbAywBtSYbFR-JIMkBNGL0"></script>
  <script type="text/javascript" src="js/plugins/jquery.gmap.min.js"></script>

  <!-- Requried js trigger for Google Maps element -->
  <script type="text/javascript" src="js/trigger/kl-google-maps-style2.js"></script>




  <!-- JS FILES // Loaded on this page -->
  <!-- Requried js script for Slideshow Scroll effect (uncomment bellow script to activate) -->
  <!-- <script type="text/javascript" src="js/plugins/scrollme/jquery.scrollme.js"></script> -->

  <!-- Required js script for iOS Slider -->
  <script type="text/javascript" src="js/plugins/_sliders/ios/jquery.iosslider.min.js"></script>

  <!-- Required js trigger for iOS Slider -->
  <script type="text/javascript" src="js/trigger/slider/ios/kl-ios-slider.js"></script>

  <!-- Slick required js script for Partners Carousel& Screenshot Box Carousel elements -->
  <script type="text/javascript" src="js/plugins/_sliders/slick/slick.js"></script>

  <!-- Required js trigger for Partners Carousel & Screenshot Box Carousel elements -->
  <script type="text/javascript" src="js/trigger/kl-slick-slider.js"></script>

  <!-- Custom Kallyas JS codes -->
  <script type="text/javascript" src="js/kl-scripts.js"></script>
  <script type="text/javascript" src="js/ion.rangeSlider.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>


  <!-- Demo panel -->
  <!-- <script type="text/javascript" src="js/dp.js"></script> -->

  <script src="js/custom.js"></script> {% endblock %}

  <script>


  </script>

</body>

</html>