{% if footer == "none" %}

{% else %}

<div class="hero-footer">
    <div class="container">
        <fieldset class="footer-title">
            <legend>
                <img src="images/logo-goldenland.png" width="260" />
            </legend>
            <div class="row no-gutters">
                <div class="footer-content">
                    <div class="address">CÔNG TY CỔ PHẦN BĐS GOLDEN LAND</div>
                    <div>Lầu 6, tòa nhà 293 Điện Biên Phủ, Phường 15, Q. Bình Thạnh, TPHCM</div>
                    <div>Hotline: 0901 867 869</div>
                    <div>Email: <a href="mailto:info@goldenlands.vn" class="text-light">info@goldenlands.vn</a> </div>
                </div>
            </div>
        </fieldset>
    </div>

    <div class="hero-footer-copyright">
        <div class="row align-items-center justify-content-center">

            <div class="col-auto">2018 © GOLDEN LAND. ALL RIGHTS RESERVED </div>
            <div class="col-auto">
                <ul class="list-inline text-white">
                    <li class="list-inline-item">
                        <a href="" class="text-white"><strong>EN</strong></a>
                    <li class="list-inline-item">
                        <a href="" class="text-white"><i class="fab fa-facebook-f"></i></a>
                    </li>

                    <li class="list-inline-item">
                        <a href="" class="text-white"><i class="fab fa-youtube"></i></a>
                    </li>
                </ul>
            </div>
        </div>


    </div>
</div>
{% endif %}