<header id="header" class="site-header cta_button position-fixed" data-header-style="1">
	<!-- Header background -->
	<!-- <div class="kl-header-bg"></div> -->
	<!--/ Header background -->

	<!-- Header wrapper -->
	<div class="site-header-wrapper shadow-sm ">

		<!-- Header Main wrapper -->
		<div class="site-header-main-wrapper d-flex">
			<!-- Header Main container -->
			<div class="siteheader-container container-fluid align-self-center">
				<!-- Header Main -->
				<div class="site-header-row site-header-main d-flex flex-row justify-content-between">
					<!-- Header Main Left Side -->
					<div class="site-header-main-left d-flex justify-content-start align-items-center">
						<!-- Logo container-->
						<div class="logo-container  logosize--yes animated " data-animate="fadeInDown" data-delay=".65">
							<!-- Logo -->
							<h1 class="site-logo logo" id="logo">
								<a href="/" title="">
									<img src="images/logo-goldenland.png" class="logo-img" alt="Goldenn land" title="Golden land website " />
								</a>
							</h1>
							<!--/ Logo -->

						</div>
						<!--/ logo container-->

						<!-- Separator -->
						<div class="separator visible-xxs"></div>
						<!--/ Separator -->
					</div>
					<!--/ .site-header-main-left -->

					<!-- Header Main Center Side -->
					<div class="site-header-main-center d-flex justify-content-center align-items-center">
						<!-- Main Menu wrapper -->
						<div class="main-menu-wrapper">
							<!-- Responsive menu trigger -->
							<div id="zn-res-menuwrapper">
								<a href="#" class="zn-res-trigger "></a>
							</div>
							<!--/ responsive menu trigger -->

							<!-- Main menu -->
							<div id="main-menu" class="main-nav font-heading animated " data-animate="fadeInDown" data-delay=".9">
								<ul id="menu-main-menu" class="main-menu ">

									<li class="zn-res-menu-logo">
										<img src="images/logo-goldenland.png" class="d-block mx-auto mt-4 mb-2" width="120" alt="Goldenn land" title="Golden land website ">
									</li>

									<li class="active"><a href="index.html">Trang chủ</a>
									</li>

									<li class=""><a href="/">Giới thiệu</a>
									</li>

									<li class=""><a href="project.html">Dự án</a>
									</li>

									<li class=""><a href="/">Phát triển</a>
									</li>

									<li class=""><a href="/">Rao vặt</a>
									</li>

									<li class=""><a href="tintuc.html">Tin tức</a>
									</li>

									<li class=""><a href="/">Liên hệ</a>
									</li>

									<li class="site-social-mobile">
										<div class="site-social ">
											<a href="" class="site-social-item font-heading shadow-sm">
												<span>
													EN
												</span>
											</a>
											<a href="" class="site-social-item shadow-sm">
												<span>
													<i class="fab fa-facebook-f"></i>
												</span>
											</a>
											<a href="" class="site-social-item shadow-sm">
												<span>
													<i class="fab fa-youtube"></i>
												</span>
											</a>
										</div>
									</li>

                                    <li class="d-block d-lg-none">
                                        <div class="quote-ribbon  " >
                                            <a href="tel:0901 867 869"  class="ctabutton kl-cta-ribbon" title="Gọi điện" >
                                                <div class="phonecall-animation">
                                                    <div class="phonecall-ring"></div>
                                                    <div class="phonecall-ring-circle"></div>
                                                    <div class="phonecall-icon">

                                                        <i class="fas fa-phone fa-flip-horizontal xs-icon"></i>
                                                    </div>
                                                </div>

                                                <strong>0901 867 869</strong>

                                            </a>
                                        </div>

                                    </li>

								</ul>





							</div>
							<!--/ Main menu -->
						</div>
						<!--/ .main-menu-wrapper -->
					</div>
					<!--/ .site-header-main-center -->

					<!-- Header Main Right Side -->
					<div class="site-header-main-right d-flex justify-content-end align-items-center">


						<!-- Call to action ribbon Free Quote (Contact form pop-up element) -->
						<div class="quote-ribbon animated " data-animate="fadeInDown" data-delay="1.15">
							<a href="tel:0901 867 869"  class="ctabutton kl-cta-ribbon" title="Gọi điện" >
								<div class="phonecall-animation">
									<div class="phonecall-ring"></div>
									<div class="phonecall-ring-circle"></div>
									<div class="phonecall-icon">

										<i class="fas fa-phone fa-flip-horizontal xs-icon"></i>
									</div>
								</div>


								<strong>0901 867 869</strong>

							</a>
						</div>


						<!--/ Call to action ribbon Free Quote (Contact form pop-up element) -->
					</div>
					<!--/ .site-header-main-right -->
				</div>
				<!--/ .site-header-row .site-header-main -->
			</div>
			<!--/ .siteheader-container .container -->
		</div>
		<!--/ Header Main wrapper -->
	</div>
	<!--/ Header wrapper -->
</header>



<div class="site-social ">
	<a href="" class="site-social-item font-heading shadow-sm">
		<span>
			EN
		</span>
	</a>
	<a href="" class="site-social-item shadow-sm">
		<span>
			<i class="fab fa-facebook-f"></i>
		</span>
	</a>
	<a href="" class="site-social-item shadow-sm">
		<span>
			<i class="fab fa-youtube"></i>
		</span>
	</a>
</div>